@charset "UTF-8";
/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #d13a2b;
}

/* 帯タイトルカラー */
#toparea>h2 {
    color: #F8A59B;
}

/* ------------------------------------------------------------------------
中見出し
------------------------------------------------------------------------  */

/* 外枠中央配置 */
.center_title {
    text-align: center;
    padding: 20px;
}

@media only screen and (min-width:768px){
    .center_title{
        text-align: center;
        padding-left: 30px;
    }
}

/* タイトルの長さの関係でcommonじゃなく、独自cssで制御する */
.center_title h3{
    font-weight: bolder;
    font-size: 1.8rem;
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
    text-decoration: underline wavy #333;
    line-height: 2rem;
}


/* セクション幅 */
section {
    padding: 10px;
}

.image-container{
    margin: auto;
    width: 80%;
    padding: 30px;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px){
    .image-container{
        width: 20%;
    }
}
