@charset "UTF-8";
/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #d13a2b;
}

/* 帯タイトルカラー */
#toparea>h2 {
    color: #F8A59B;
}

/* ------------------------------------------------------------------------
中見出し
------------------------------------------------------------------------  */

/* 外枠中央配置 */
.center_title {
    text-align: center;
    padding: 20px;
}

@media only screen and (min-width:768px){
    .center_title{
        text-align: initial;
        padding-left: 32px;
    }
}

.middle_title {
    font-weight: bolder;
    font-size: 1.8rem;
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: #333 wavy underline;
    line-height: 120%;
}


/* セクション幅 */
section {
    padding: 10px;
}

.image-container{
    margin: auto;
    width: 45%;
    padding: 30px;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px){
    .image-container{
        width: 35%;
    }
}
