@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #b5766d;
}

/* 帯タイトルカラー */
#toparea>h2 {
    color: #ec7f69;
}

/* ------------------------------------------------------------------------
中見出し
------------------------------------------------------------------------  */

/* トップメニュー横並び */
.menu_wrap {
    display: flex;

}

/* トップ画像非表示 */
.top_img {
    display: none;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* トップメニュー幅調整 */
    .menu_wrap {
        margin: 0 auto;
        max-width: 80%;
    }

    /* トップ外枠 */
    .top_img {
        display: block;
        border: 3px solid #000;
        margin: 0 auto;
        width: 60%;
    }

    /* トップ画像 */
    .top_img img {
        min-width: 300px;
        min-height: 350px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* 3カラム列 */
.card_3col {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.taxonomy_box {
    border: 1px solid #000;
    margin-bottom: 20px;
    padding: 10px;
    height: 50px;
}

/* ------------------------------------------------------------------------
サイドバー
------------------------------------------------------------------------ */

/* 上部サイドバー非表示 */
.aside_top {
    display: none;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* 下部サイドバー非表示 */
    .aside_bottom {
        display: none;
    }

    /* 上部サイドバー表示 */
    .aside_top {
        display: block;
    }

    /* 記事幅 */
    .archive_col {
        padding: 50px;
    }
}

/* セクション幅 */
section {
    padding: 10px;
}


/* ------------------------------------------------------------------------
3カラム
------------------------------------------------------------------------ */

/* 3カラム列 */
.card_3col {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

/* ------------------------------------------------------------------------
ページネーション※装飾だけなので消す
------------------------------------------------------------------------ */

/* .pagenation {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px auto;

}

.pagenation img {
    width: 40px;
    object-fit: cover;
}

.left_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 43px solid #000000;
    border-left: 0;
}

.right_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 43px solid #000000;
    border-right: 0;
} */

/*真ん中に設置*/
.pagination {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px auto;
}

.pagination-page {
    text-align: center;

}

/*横並びにする*/
.nav-links {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;

}

.page-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

}

/*ページタブの共通スタイル*/
.nav-links a.page-numbers,
.nav-links .current,
.nav-links a.prev,
.nav-links a.next,
.nav-links .dots {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 10px;
    text-decoration: none;
    color: #000;

}

.nav-links a.page-numbers,
.nav-links .current {
    background-image: url(../img/pagination.png);
    background-size: 100%;
    font-family: 'Barlow Condensed', sans-serif;
}

.nav-links a.prev,
.nav-links a.next,
.nav-links .dots {
    background-image: none;
    font-size: 3rem;

}

/*現在のページのタブ*/
.nav-links .current {
    background-color: #999;
    color: #fff;
    border-radius: 50%;
    padding: 0px;
    padding-top: 10px;
}

/*数字省略の「・・・」*/
.nav-links .dots {
    border: none;
}

/* ~~~~~~~~~~~~ページネーションpc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    .pagination {
        text-align: center;
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 30px auto;
    }
    /*ページタブの共通スタイル*/
    .nav-links a.page-numbers,
    .nav-links .current,
    .nav-links a.prev,
    .nav-links a.next,
    .nav-links .dots {
        width: 70px;
        height: 70px;
        text-align: center;
        line-height: 50px;
        margin-right: 25px;
        font-size: 2.5rem;
        font-weight: bold;
        padding-top: 10px;
        text-decoration: none;
        color: #000;

    }
    .nav-links .current {
    background-color: #999;
    color: #fff;
    border-radius: 50%;
    padding: 0px;
    padding-top: 10px;
    }

    /*マウスが乗った時の、ボタンの背景の色と文字の色*/
    .nav-links a.page-numbers:hover {
        color: #000;
        background-color: #ccc;
        border-radius: 50%;

    }
}
