@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #b5766d;
    color: #ec7f69;
}

/* ------------------------------------------------------------------------
中見出し
------------------------------------------------------------------------  */

/* トップメニュー横並び */
.menu_wrap {
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

/* トップ画像非表示 */
.top_img {
    display: none;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* トップ外枠 */
    .top_img {
        display: block;
        border: 3px solid #000;
        width: 60%;
    }

    /* トップ画像 */
    .top_img img {
        min-width: 300px;
        min-height: 350px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.taxonomy_box {
    border: 1px solid #000;
    margin-bottom: 20px;
    padding: 10px;
    height: 50px;
}

/* ------------------------------------------------------------------------
サイドバー
------------------------------------------------------------------------ */

/* 上部サイドバー非表示 */
.aside_top {
    display: none;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* 下部サイドバー非表示 */
    .aside_bottom {
        display: none;
    }

    /* 上部サイドバー表示 */
    .aside_top {
        display: block;
    }

    /* 記事幅 */
    .archive_col {
        padding: 50px 0;
    }
}

/* セクション幅 */
section {
    padding: 10px;
}

/* ------------------------------------------------------------------------
ページネーション※装飾だけなので消す
------------------------------------------------------------------------ */

/* .pagenation {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px auto;

}

.pagenation img {
    width: 40px;
    object-fit: cover;
}

.left_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 43px solid #000000;
    border-left: 0;
}

.right_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 43px solid #000000;
    border-right: 0;
} */
