@charset "UTF-8";

/* 帯色 */
#toparea {
    background-color: #b5766d;
    color: #ec7f69;
}

.aside_wrap {
    margin: 0 auto;
}


/* 上部サイドバー非表示 */
.aside_top {
    display: none;
}


.card_2col {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 5%;
}

.card1 {
    margin-bottom: 20px;
    max-width: 350px;
}

h4 {
    border-left: none;
}

/* PC時のスタイル */
@media (min-width:1410px) {
    .archive_col {
        display: flex;
        justify-content: center;
        gap: 3%;
        width: 100%;
    }

    .card_2col {
        width: 66.6%;
        gap: 3%;
    }

    /* セクション幅 */
    section {
        padding: 10px;
    }

    .pagenation {
        width: 66.6%;
    }

    /* 下部サイドバー非表示 */
    .aside_bottom {
        display: none;
    }

    /* 上部サイドバー表示 */
    .aside_top {
        display: block;
    }
}


/* ------------------------------------------------------------------------
ページネーション※装飾だけなので消す
------------------------------------------------------------------------ */

/* .pagenation {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-bottom: 48px;
    justify-content: center;
}

.pagenation img {
    width: 50px;
    object-fit: cover;
}

.left_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 43px solid #000000;
    border-left: 0;
}

.right_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 43px solid #000000;
    border-right: 0;
} */
