@charset "UTF-8";

/* 帯色 */
#toparea {
    background-color: #b5766d;
    color: #ec7f69;
}

/* 上部サイドバー非表示 */
.aside_top {
    display: none;
}

.card_2col {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 5%;
}

.card1 {
    margin-bottom: 20px;
    max-width: 350px;
}

.aside_bottom {
    margin: 1.5rem auto 0 auto;
}

/* PC時のスタイル */
@media (min-width:1300px) {
    .archive_col {
        display: flex;
        justify-content: center;
        gap: 3%;
        width: 100%;
    }

    .card_2col {
        width: 66.6%;
        gap: 3%;
    }

    .aside_bottom {
        display: none;
    }

    .aside_top {
        display: block;
    }

    /* セクション幅 */
    section {
        padding: 10px;
    }

    .pagenation {
        width: 66.6%;
    }
}

/* ------------------------------------------------------------------------
ページネーション※装飾だけなので消す
------------------------------------------------------------------------ */

.pagenation {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 48px;
    justify-content: center;
}

.pagenation img {
    width: 50px;
    object-fit: cover;
}

.left_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 43px solid #000000;
    border-left: 0;
}

.right_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 43px solid #000000;
    border-right: 0;
}
