@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #f1d470;
    color: #ffb357;
}

/* ------------------------------------------------------------------------
cardテンプレート
------------------------------------------------------------------------  */

/* 記事幅 */
.archive_col {
    padding: 10px;
}

/* ▼card3カラムカード▼ */

.card3_wrap {
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
}

.card3_content {
    padding: 10px;
    display: flex;
}

/* 記事画像サイズ */
.card3_img {
    width: 80px;
}

.card3_img img {
    border: 1px solid #000;
    object-fit: cover;
}

.article_wrap {
    padding-left: 10px;
}

.news_tab {
    text-align: center;
    border-bottom: double #87ceeb;
    width: 80px;
}

/* 記事タイトルフォントサイズ */
.news_title {
    font-weight: bold;
}

/* 記事本文非表示 */
.card3_text {
    display: none;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media (min-width:768px) {

    /* メニュー横並び */
    .archive_col {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }

    /* 記事左側サイズ */
    .card3_left {
        width: 65%;
    }

    .card3_wrap {
        padding: 20px;
    }

    /* 記事画像サイズ */
    .card3_img {
        min-width: 150px;
        width: 50%;
    }

    /* 記事タイトル整列 */
    .news_title {
        display: flex;
        justify-content: space-around;
    }

    /* 記事本文表示 */
    .card3_text {
        display: block;
        padding: 20px 10px;
    }
}

/* ▲card3カラムカード▲ */

/* ------------------------------------------------------------------------
ページネーション※装飾だけなので消す
------------------------------------------------------------------------ */

.pagenation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px auto;
}

.pagenation img {
    width: 40px;
    object-fit: cover;
}

.left_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 43px solid #000000;
    border-left: 0;
}

.right_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 43px solid #000000;
    border-right: 0;
}
