@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #01ADB9;
    color: #33F3FF;
}

h2 a {
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 2px #000;
}

/* ------------------------------------------------------------------------
cardテンプレート
------------------------------------------------------------------------  */

/* ▼card3カラムカード▼ */

.card3_wrap {
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
    margin: 0 auto;
    margin-bottom: 25px;
}

.card3_content {
    padding: 10px;
    display: flex;
    align-items: center;
}

.card3_img img {
    border: 1px solid #000;
    object-fit: cover;
    width: 230px;
    height: 170px;
}

.article_wrap {
    margin-left: 1.5rem;
    flex: 1;
}

.news_tab {
    text-align: center;
    border-bottom: double #87ceeb;
    width: 100px;
}

/* 記事タイトルフォントサイズ */
.news_title {
    font-weight: bold;
}

/* 記事本文非表示 */
.card3_text {
    display: none;
}

.card1_text {
    height: initial;
    display: none;
}

.aside_wrap {
    margin: 0 auto;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media (min-width:768px) {
    .card1_text {
        display: block;
    }
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media (min-width:1200px) {

    /* メニュー横並び */
    .archive_col {
        display: flex;
        justify-content: space-between;
        gap: 5%;
    }

    .card3_left {
        width: 100%;
    }

    /* 記事左側サイズ */
    .card3_wrap {
        padding: 20px;
    }

    /* 記事画像サイズ */
    .card3_img {
        min-width: 150px;
        width: 230px;
    }

    /* 記事タイトル整列 */
    .news_title {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }

    .card1_text {
        height: 100px;
    }

    /* 記事本文表示 */
    .card3_text {
        display: block;
        padding: 20px 10px;
    }
}

/* ▲card3カラムカード▲ */

/* ------------------------------------------------------------------------
ページネーション※装飾だけなので消す
------------------------------------------------------------------------ */

.pagenation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px auto 50px auto;
}

.pagenation img {
    width: 40px;
    object-fit: cover;
}

.left_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 43px solid #000000;
    border-left: 0;
}

.right_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 43px solid #000000;
    border-right: 0;
}
