@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #fff6e2;
    color: #fff6e2;
}

/* ------------------------------------------------------------------------
中見出し
------------------------------------------------------------------------  */

/* 外枠中央配置 */
.center_title {
    text-align: center;
}

/* トップメニュー横並び */
.menu_wrap {
    display: flex;
    margin-bottom: 50px;
}

/* 地図外枠 */
.map_content {
    border: 3px solid #000;
    margin: 0 auto;
}

/* 地図画像 */
.map_content iframe {
    width: 100%;
    height: 100%;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:1032px) {

    .menu_wrap {
        margin: 0 auto 50px;
        max-width: 80%;
    }

    /* 地図外枠 */
    .map_content {
        width: 60%;
    }
}

/* ------------------------------------------------------------------------
サイドバー
------------------------------------------------------------------------ */

/* 上部サイドバー非表示 */
.aside_top {
    display: none;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:1032px) {

    /* 下部サイドバー非表示 */
    .aside_bottom {
        display: none;
    }

    /* 上部サイドバー表示 */
    .aside_top {
        display: block;
    }
}

/* セクション幅 */
section {
    padding: 10px;
}

/* ------------------------------------------------------------------------
3カラム
------------------------------------------------------------------------ */

/* 記事幅 */
.archive_col {
    padding: 50px;
    margin: 0 auto;
}

/* 3カラム列 */
.card_3col {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

/* 目的別項目ボタン装飾非表示 */
.purpose_btn::after {
    display: none;
}

/* 目的別項目ボタン外側 */
.purpose_btn {
    display: block;
    margin-bottom: 50px;
    background-color: #ffaaaa;
    border: 3px solid #000;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #000;
    text-decoration: none;
}

/* リンクを親要素いっぱいに広げる */
.purpose_btn>a {
    display: block;
    padding: 20px 10px;
    border-radius: 20px;
}

/* カード設計 */
.card_wrap1 {
    width: 280px;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
}

/* カード内幅揃え */
.card_wrap2 {
    padding: 30px 30px 10px;
}

/* サムネイル画像真ん中並び */
.thumbnail_img {
    text-align: center;
}

/* サムネイル画像設定 */
.thumbnail_img img {
    border: 1px solid #000;
    width: 240px;
    height: 184px;
    object-fit: cover;
}

/* 小見出し幅 */
.card_wrap2>h4 {
    padding: 20px 0;
    border-left: none;
}

/* カード説明幅 */
.card_text {
    border: 1px solid #000;
    padding: 5px 10px;
    height: 60px;
}

/* アイコン欄 */
.card_icon {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #000;
    height: 100px;
}

/* アイコンサイズ */
.card_icon img {
    width: 35px;
}

/* moreボタン幅 */
.more_btn {
    margin: 50px auto;
}


/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* 記事タイトル */
    .purpose_btn {
        margin: 0 50px 50px;
    }

    /* カード設計 */
    .card_wrap1 {
        width: 350px;
    }

    /* カード内幅揃え */
    .card_wrap2 {
        padding: 30px;
    }

    /* サムネイル画像設定 */
    .thumbnail_img img {
        width: 240px;
    }

    /* カード説明幅 */
    .card_text {
        padding: 5px 10px;
        height: 60px;
    }

    /* アイコン欄 */
    .card_icon {
        margin: 20px 0;
        padding: 10px;
        height: 75px;
    }
}

/* ------------------------------------------------------------------------
アコーディオンメニュー
------------------------------------------------------------------------ */

/* more,closeボタンにホバー */
.more_btn:hover,
.close_btn:hover,
.purpose_btn:hover {
    cursor: pointer;
    transform: translate(5px, 5px);
    transition: .3s;
    opacity: .6;
    box-shadow: 0 0 0 #000;
}

/* closeボタン外側・中央揃え・整形 */
.close_btn {
    margin: 0 auto;
    background-color: #aae6ff;
    border: 3px solid #000;
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #000;

}

/* ボタンいっぱいにリンクを広げる */
.close_link {
    padding: 5px 86px 0;
    border-radius: 20px;
}

/* 文字設定 */
.close {
    font-size: 1.5rem;
    font-family: "Dela Gothic One";
}

/* closeボタン幅 */
.close_btn {
    margin: 50px auto;
}

/* マップのCSS */
#map {
    width: 400px;
    height: 400px;
    background-color: grey;
}

@media only screen and (min-width:768px) {
    #map {
        width: 60%;
        height: 550px;
    }

}
