@charset "UTF-8";
/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #FF954C;
    color: #F95000;
}

/* ------------------------------------------------------------------------
中見出し
------------------------------------------------------------------------  */

.title {
    line-height: 2.5rem;
}

@media only screen and (min-width:768px) {
    .title {
        margin: initial;
        padding-left: 32px;
    }
}

@media only screen and (min-width:540px) {
    .breadcrumb {
        padding: 4%;
    }
}

@media only screen and (min-width:768px) {
    .breadcrumb {
        padding: 3%;
    }
}

.text-container {
    margin: 35px 0;
}

.text-container:last-child {
    margin-bottom: 0;
}

.text-container p {
    margin: auto;
    padding: 5%;
}

.text-container p:last-child {
    padding-bottom: 0;
}

@media only screen and (min-width:540px) {
    .text-container p {
        padding: 4%;
    }
}

@media only screen and (min-width:768px) {
    .text-container p {
        padding: 3%;
    }
}
