@charset "UTF-8";
/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #FF954C;
    color: #F95000;
}

/* ------------------------------------------------------------------------
中見出し
------------------------------------------------------------------------  */

.text-container{
    text-align: center;
}

@media only screen and (min-width:768px){
    .text-container{
        text-align: initial;
    }
}


.title {
    line-height: 2.5rem;
}

@media only screen and (min-width:768px){
    .title{
        margin: initial;
        padding-left: 32px;
    }
}

/* .breadcrumb {
    margin: auto;
    padding: 5%;
    } */

@media only screen and (min-width:540px){
    .breadcrumb{
        padding: 4%;
    }
}

@media only screen and (min-width:768px){
    .breadcrumb{
        padding: 3%;
    }
}

.text-container>p{
    margin: auto;
    padding: 5%;
}

@media only screen and (min-width:540px){
    .text-container>p{
        padding: 4%;
    }
}

@media only screen and (min-width:768px){
    .text-container>p{
        padding: 3%;
    }
}


/* セクション幅 */
section {
    padding: 10px;
}

.image-container{
    margin: auto;
    width: 70%;
    padding: 30px;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px){
    .image-container{
        width: 50%;
    }
}
