@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #FFA9CC;
    color: #F462AD;
}

/* ------------------------------------------------------------------------
中見出し
------------------------------------------------------------------------  */


/* 外枠中央配置 */
.center_title {
    /* margin-top:150px; */
    text-align: center;
}

/* 中見出し幅 */
.middle_title {
    padding: 100px 50px 10px;
    margin: 40px;
}

/* トップメニュー横並び */
.menu_wrap {
    display: flex;
}

/* GoogleMap */
.course_map {
    max-width: 1200px;
    margin: 0 auto;
}

/* GoogleMap-中身 */
.map {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

/* iframe */
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card_3col {
    justify-content: center;
    gap: 2.5%
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    .menu_wrap {
        margin: 0 auto;
        max-width: 80%;
    }

    .menu_title {

        width: 100%;
        text-align: center;
    }

    /* 地図外枠 */
    .map_content {
        width: 60%;
    }

    .course_map {
        /* width: 70%; */
        margin: 0 auto;
    }

    .map {
        width: 90%;
        margin: 0 auto;
    }
}

.map_fav {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

/* セクション幅 */
section {
    margin-bottom: 100px;
}


/* 記事タイトル */
.archive_col>h3 {
    padding: 20px 20px 10px;
    margin-bottom: 50px;
}


/* カード内幅揃え */
.card_wrap2 {
    padding: 30px;
}

/* 小見出し幅 */
.card1_content>h4 {
    padding: 20px 20px;
}


/* アイコン欄 */
.card_icon {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #000;
}

/* アイコンサイズ */
.card_icon img {
    width: 40px;
}

/* moreボタン幅 */
.more_btn {
    margin: 50px auto;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* 記事タイトル */
    .archive_col>h3 {
        margin: 0 50px 50px;
        padding: 40px 40px 10px;
    }
}
