@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #FFA9CC;
}

/* 帯タイトルカラー */
#toparea>h2 {
    color: #F462AD;
}

/* ------------------------------------------------------------------------
中見出し
------------------------------------------------------------------------  */

/* 外枠中央配置 */
.center_title {
    margin-top: 150px;
    text-align: center;
}

/* 中見出し幅 */
.middle_title {
    padding: 100px 50px 10px;
    margin: 40px;
}

/* トップメニュー横並び */
.menu_wrap {
    display: flex;
}

/* 地図外枠 */
.map_content {
    border: 3px solid #000;
    margin: 0 auto;
}

/* 地図画像 */
.map_content img {
    width: 300px;
    height: 350px;
    object-fit: cover;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    .menu_wrap {
        margin: 0 auto;
        max-width: 80%;
    }

    .menu_title {

        width: 100%;
        text-align: center;
    }

    /* 地図外枠 */
    .map_content {
        width: 60%;
    }

    /* 地図画像 */
    .map_content img {
        height: 100%;
        width: 100%;
    }
}

/* ------------------------------------------------------------------------
サイドバー
------------------------------------------------------------------------ */

/* 上部サイドバー非表示 */
.aside_top {
    display: none;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* 下部サイドバー非表示 */
    .aside_bottom {
        display: none;
    }

    /* 上部サイドバー表示 */
    .aside_top {
        display: block;
    }
}

/* セクション幅 */
section {
    padding: 10px;
}

/* 記事幅 */
.archive_col {
    padding: 50px;
}

/* 記事タイトル */
.archive_col>h3 {
    padding: 20px 20px 10px;
    margin-bottom: 50px;
}

/* 3カラム */
.card_3col {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

/* カード設計 */
.card1_wrap {
    width: 500px;
    height: 600px;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
}

/* カード内幅揃え */
.card_wrap2 {
    padding: 30px;
}

/* サムネイル画像真ん中並び */
.thumbnail_img {
    text-align: center;
}

/* サムネイル画像設定 */
.card1_img img {
    margin-top: 30px;
    border: 1px solid #000;
    width: 350px;
    height: 250px;
    object-fit: cover;
}

/* 小見出し幅 */
.card1_content>h4 {
    padding: 20px 20px;
}

/* カード説明幅 */
.card1_text {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

/* アイコン欄 */
.card_icon {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #000;
}

/* アイコンサイズ */
.card_icon img {
    width: 40px;
}

/* moreボタン幅 */
.more_btn {
    margin: 50px auto;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* 記事タイトル */
    .archive_col>h3 {
        margin: 0 50px 50px;
        padding: 40px 40px 10px;
    }
}

/* GoogleMap-中身 */
.map {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

/* iframe */
.map iframe {
    border: 1px solid red;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

/* ------------------------------------------------------------------------
アコーディオンメニュー
------------------------------------------------------------------------ */

/* more,closeボタンにホバー */
.more_btn, .close_btn:hover {
    cursor: pointer;
}

/* closeボタン外側・中央揃え・整形 */
.close_btn {
    margin: 0 auto;
    background-color: #aae6ff;
    border: 3px solid #000;
    width: 280px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #000;

}

/* ボタンいっぱいにリンクを広げる */
.close_link {
    padding: 5px 106px 0;
    border-radius: 20px;
}

/* 文字設定 */
.close {
    font-size: 1.5rem;
    font-family: "Dela Gothic One";
}

/* closeボタン幅 */
.close_btn {
    margin: 50px auto;
}

h4{
    display: none;
}
