@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #FFA9CC;
    color: #F462AD;
}

/* ------------------------------------------------------------------------
中見出し
------------------------------------------------------------------------  */


/* 外枠中央配置 */
.center_title {
    /* margin-top:150px; */
    text-align: center;
}

.center_title h3{
    font-size: 1.5rem;
}

/* 中見出し幅 */
.middle_title {
    padding: 100px 50px 10px;
    margin: 40px;
}

/* トップメニュー横並び */
.menu_wrap {
    display: flex;
}

/* 地図外枠 */
.map_content {
    border: 3px solid #000;
    margin: 0 auto;
}


/* GoogleMap-中身 */
#map {
    height: 400px;
    width: 100%;
    /* position: relative; */
    padding-top: 56.25%;
    margin-bottom: 100px;
}



/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    .menu_wrap {
        margin: 0 auto;
        max-width: 80%;
    }

    .menu_title{

    width: 100%;
    text-align: center;
}

    /* 地図外枠 */
    .map_content {
        width: 60%;
    }

    .course_map{
        /* width: 70%; */
        margin: 0 auto;
    }

    #map{
        width: 90%;
        margin: 0 auto;
    }

}

.map_fav{
width: 100%;
padding-left: 20px;
padding-right: 20px;
}

/* ------------------------------------------------------------------------
サイドバー
------------------------------------------------------------------------ */

/* 上部サイドバー非表示 */
.aside_top {
    display: none;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* 下部サイドバー非表示 */
    .aside_bottom {
        display: none;
    }

    /* 上部サイドバー表示 */
    .aside_top {
        display: block;
    }
}

/* セクション幅 */
section {
    padding: 10px;
}

/* 記事幅 */
/* .archive_col {
    padding: 50px;
} */

/* 記事タイトル */
.archive_col>h3 {
    padding: 20px 20px 10px;
    margin-bottom: 50px;
}

/* 3カラム */
.card_3col {
    display: flex;
    /* gap: 60px; */
    flex-wrap: wrap;
    justify-content: center;
}

/* カード設計 */
/* .card1_wrap {
    width: 350px;
    height: 550px;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
    margin-left: 30px;
    margin-right: 30px;
} */

/* カード内幅揃え */
.card_wrap2 {
    padding: 30px;
}

/* サムネイル画像真ん中並び */
.thumbnail_img {
    text-align: center;
}

/* サムネイル画像設定 */
.card1_img img {
    margin-top: 30px;
    border: 1px solid #000;
    width: 350px;
    height: 250px;
    object-fit: cover;
}

/* 小見出し幅 */
.card1_content>h4 {
    padding: 20px 20px;
}


/* アイコン欄 */
.card_icon {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #000;
}

/* アイコンサイズ */
.card_icon img {
    width: 40px;
}

/* moreボタン幅 */
.more_btn {
    margin: 50px auto;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* 記事タイトル */
    .archive_col>h3 {
        margin: 0 50px 50px;
        padding: 40px 40px 10px;
    }
}



/* ------------------------------------------------------------------------
アコーディオンメニュー
------------------------------------------------------------------------ */

/* more,closeボタンにホバー */
.more_btn, .close_btn:hover {
    cursor: pointer;
}

/* closeボタン外側・中央揃え・整形 */
.close_btn {
    margin: 0 auto;
    background-color: #aae6ff;
    border: 3px solid #000;
    width: 280px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #000;

}

/* ボタンいっぱいにリンクを広げる */
.close_link {
    padding: 5px 106px 0;
    border-radius: 20px;
}

/* 文字設定 */
.close {
    font-size: 1.5rem;
    font-family: Dela Gothic One;
}

/* closeボタン幅 */
.close_btn {
    margin: 50px auto;
}






/* トップへ戻るボタン */
.button{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 140px;
    /* border-radius: 10px; */
    background-image: url(../img/top.png);
    background-size: 100px;
    background-repeat: no-repeat;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.46); */
    font-weight: bolder;

    transition: .3s;
    /* 非表示にする */
    opacity: 0;
    visibility: hidden;
}

.button img{
    width: 100px;
    height: 100px;
    position: absolute;
    top:40px;
}
.is-active{
    /* 表示する */
    opacity: 1;
    visibility: visible;
}

/* TOPボタンのホバー時 */
.button:hover{
    background-color: #aae6ff63;
}

.no_favorite{
    text-align: center;
}
