@charset "utf-8";

/* ------------------------------------------------------------------------
    all
------------------------------------------------------------------------  */
html {
    min-height: 100%;
    line-height: 1.5rem;
}

body {
    font-family: 'Zen Maru Gothic', serif;
    position: relative;
    overflow-x: hidden;
    background-color: #fff6e2;
    width: 100vw;
}

.pc_nav,
footer {
    color: #fff;
    font-family: 'Dela Gothic One', sans-serif;
}

h2 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.2rem;
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 1px #000;
}


h3 {
    font-weight: bolder;
    font-size: 1.8rem;
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
}

h3>p {
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

h3::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 10px;
    /* 下線の高さを調整 */
    background-image: url("../img/wave_bottom.svg");
    background-repeat: repeat-x;
    background-size: contain;
}

hr {
    width: 80%;
    margin: 2rem auto;
    border: 1.5px solid #000;
}

main:not(.section_kv):not(.teloparea) {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .sp_none {
        display: none;
        /* ※モバイル表示時のみ(PCでは表示させない) */
    }
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    main:not(.section_kv) {
        /* width: 90%; */
        margin: 0 auto;
    }

    .pc_none {
        display: none;
        /* ※sp表示時のみ(PCでは表示させない) */
    }

}

/* ------------------------------------------------------------------------
    header
------------------------------------------------------------------------  */
.sp_nav {
    height: 100px;
    background-image: url(../img/bg_road.png);
}

.sp_nav.container {
    overflow: hidden;
}

.sp_nav_logo img {
    width: 75px;
    margin: 12px;
}

.header_inner {
    position: relative;
    z-index: 10;
}

.header_logo {
    width: 125px;
    height: 15px;
    margin-left: 10px;
}

.header_menu {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: calc(100vh - 50px);
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease;
}

.header_inner.active .header_menu {
    opacity: 1;
    visibility: visible;
    right: 0;
    left: auto;
}

.search_box_wrap {
    width: 250px;
    margin: 2.2rem 0 0 .5rem;
}

.sp_nav .search_box {
    display: flex;
    width: 100%;
}

.sp_nav .search_box input[type="text"] {
    padding: 0 1rem;
    border: 1px solid #555;
    border-radius: 1.5rem 0 0 1.5rem;
    width: 150px;
}

.sp_nav .search_box button {
    cursor: pointer;
    padding: 0 9px;
    margin-right: .5rem;
    border-radius: 0 1.5rem 1.5rem 0;
    border: none;
    background-color: #555;
    color: #555;
    font-size: .75rem;
}

.sp_nav .search_box input:focus {
    outline: 0;
    border: 1px solid #FF9900;
}

.sp_nav .search_box button:hover {
    color: #FF9900;
}

.sp_nav .search_box input::placeholder {
    color: #555;
}

.header_menu-btn {
    position: absolute;
    right: 15px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    padding: 5px;
    cursor: pointer;
    z-index: 5;
}

.header_menu-btn span:nth-child(-n+3) {
    position: absolute;
    display: block;
    width: 35px;
    height: 2px;
    background: #fff;
    box-shadow: 3px 3px 1px rgb(0 0 0);
}

.header_menu-btn span:nth-child(1) {
    top: 10px;
    transition: all .2s ease;
}

.header_inner.active .header_menu-btn span:nth-child(1) {
    top: 20px;
    transform: rotate(45deg);
    background: #000;
    box-shadow: none;
}

.header_menu-btn span:nth-child(2) {
    top: 18px;
    transition: opacity .2s ease;
}

.header_inner.active .header_menu-btn span:nth-child(2) {
    opacity: 0;
}

.header_menu-btn span:nth-child(3) {
    top: 26px;
    transition: all .2s ease;
}

.header_inner.active .header_menu-btn span:nth-child(3) {
    top: 20px;
    transform: rotate(-45deg);
    background: #000;
    box-shadow: none;
}

.header_menu-btn span:nth-child(4) {
    font-size: 10px;
    color: #fff;
    text-shadow: 3px 3px 1px rgb(0 0 0);
    margin-top: 10px;
}

.header_inner.active .header_menu-btn span:nth-child(4) {
    color: #000;
    text-shadow: none;
}

.link_wrap {
    text-align: center;
    background-color: #FFFDF9;
    width: 80%;
    margin: 10%;
}

h3.overlaymenu_title {
    margin-top: 2rem;
}

ul.overlaymenu_list {
    text-align: left;
    margin: 2rem 1rem;
    letter-spacing: 0.1em;
}

.overlaymenu_list li {
    display: flex;
    background: no-repeat right center;
}

.overlaymenu_list li+li {
    margin-top: 22px;
}

.overlaymenu_list li:not(.menu_title_li):after {
    content: '';
    margin: 0 40px 0 1em;
    background: url(../img/bg_dots.png) repeat-x left center;
    background-size: 3px auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.overlaymenu_list li:nth-child(odd) {
    background-image: url(../img/hammenu_icon1.png);
    background-size: 25px;
}

.overlaymenu_list li:nth-child(even) {
    background-image: url(../img/hammenu_icon2.png);
    background-size: 25px;
}

@media (max-width: 1024px) {
    .sp_nav {
        display: block;
    }

    .pc_nav {
        display: none !important;
    }
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media (min-width:768px) {
    .pc_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url(../img/bg_road.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100px;
        text-shadow: 2px 2px 0 #000;
        -webkit-text-stroke: 1px #000;
        font-size: clamp(16px, 2vw, 24px);
    }

    .pc_nav>img {
        width: 70px;
        height: 70px;
        margin-left: 1rem;
    }

    .pc_nav ul.navmenu {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        flex-grow: 1;
        align-items: center;
    }

    .pc_nav .search_box_li {
        display: flex;
        width: 100%;
        flex-basis: 70px;
    }

    .pc_nav .search_box_li input[type="text"] {
        flex-grow: 1;
        padding: 0 0.5rem;
        border: 1px solid #fff;
        border-radius: 1.5rem 0 0 1.5rem;
        width: 150px;
    }

    .pc_nav .search_box_li button {
        cursor: pointer;
        padding: 0 1rem;
        margin-right: .5rem;
        border-radius: 0 1.5rem 1.5rem 0;
        border: none;
        background-color: #fff;
        color: #fff;
        font-size: .75rem;
    }

    .pc_nav .search_box_li input:focus {
        outline: 0;
        border: 1px solid #FF9900;
    }

    .pc_nav .search_box_li button:hover {
        color: #FF9900;
    }

    .pc_nav .search_box_li input::placeholder {
        color: #fff;
    }
}

/* ------------------------------------------------------------------------
    cardテンプレート
------------------------------------------------------------------------  */
/* ▼1カラムカード▼ */
.card1_wrap {
    width: 280px;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
    margin: 0 auto;
    margin-bottom: 25px;
}

.card1_content {
    padding: 30px;
}

.card1_img {
    text-align: center;
}

.card1_img img {
    border: 1px solid #000;
    width: 240px;
    height: 180px;
    object-fit: cover;
}

.card1_content h4 {
    padding: 10px 0;
}

.card1_text {
    border: 1px solid #000;
    padding: 10px;
    height: 150px;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media (min-width:768px) {
    .card1_wrap {
        width: 350px;
    }

    .card1_img img {
        width: 300px;
        height: 230px;
    }

    .card1_content h4 {
        padding: 20px 0;
    }

    .card1_text {
        height: 200px;
    }
}

/* ▲1カラムカード▲ */
/* ------------------------------------------------------------------------
    footer
------------------------------------------------------------------------  */
footer {
    height: 350px;
    background-color: #555;
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 1px #000;
    font-size: 1.5rem;
    text-align: center;
    background-image: url(../img/bg_road.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

footer>p {
    padding: 1.5rem 0;
}

footer p:first-child {
    padding-top: 3rem;
}

.copyright {
    margin-top: 3rem;
    padding-bottom: 0;
}

/* ------------------------------------------------------------------------
    西野
------------------------------------------------------------------------  */

/* ------------------------------------------------------------------------
moreボタン
------------------------------------------------------------------------ */

/* 外側・中央揃え・整形 */
.more_btn {
    margin: 0 auto;
    background-color: #fffCAA;
    border: 3px solid #000;
    width: 280px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #000;

}

/* ボタンいっぱいにリンクを広げる */
.more_link {
    padding: 5px 106px 0;
    border-radius: 20px;
}

/* 文字設定 */
.more {
    font-size: 1.5rem;
    font-family: Dela Gothic One;
}

/* ------------------------------------------------------------------------ 帯 ------------------------------------------------------------------------  */

/* 帯全体左右中央 */
#toparea {
    height: 300px;
    text-align: center;
}

/* 帯上下中央 */
#toparea>h2 {
    line-height: calc(300px - 5px);
}

/* 記事背景 */
.main_wrap {
    background-color: #fffdf9;
    max-width: 90%;
    margin: 5% auto 15%;
}

/* パンくずリスト */
.breadcrumb {
    padding: 20px 16px;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {
    .breadcrumb {
        padding: 40px 32px;
    }
}

/* 画像横幅100％ */
img {
    max-width: 100%;
}

/* 小見出しフォント */
h4 {
    font-weight: bolder;
    font-size: 1.4rem;
}

/* ------------------------------------------------------------------------
サイドバー
------------------------------------------------------------------------ */

/* カテゴリ枠中央寄せ */
.aside_wrap {
    width: 300px;
    margin: 0 auto;
    font-weight: bold;
    padding-bottom: 50px;

}

/* タイトル表示 */
.aside_title {
    padding: 30px 0;
    text-align: center;
    font-size: 1.8rem;
}

/* li要素下線 */
.aside_wrap li {
    border-bottom: 3px dotted #000;
    padding: 10px 20px 50px;
    font-size: 1.4rem;
    position: relative;
}

/* カテゴリ別before要素 */
.aside_wrap a::before {
    content: '';
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url(../img/sidebar_icon.png);
    background-size: contain;
    vertical-align: middle;
}

/* リンクを親要素いっぱいに広げる */
.aside_wrap a {
    display: inline-block;
    position: absolute;
    width: 300px;
    height: 50px;
}


/* ------------------------------------------------------------------------
    西野終わり
------------------------------------------------------------------------  */
