@charset "utf-8";

/* ------------------------------------------------------------------------
    all
------------------------------------------------------------------------  */
html {
    min-height: 100%;
    line-height: 1.5rem;
}

body {
    font-family: 'Zen Maru Gothic', serif;
    position: relative;
    overflow-x: hidden;
    background-color: #fff6e2;

}

main:not(.section_kv) {
    width: 90%;
    margin: 0 auto;
}

nav,
footer {
    color: #fff;
    font-family: 'Dela Gothic One', sans-serif;
}


h2 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.2rem;
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 1px #000;
    text-align: center;
}

h3 {
    font-weight: boder;
    font-size: 1.8rem;
}

.pc_none {
    display: none;
    /* ※sp表示時のみ(PCでは表示させない) */
}

/* ~~~~~~~~~~~~sp表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {}

main:not(.section_kv) {
    width: 100%;
}

.sp_none {
    display: none;
    /* ※PC表示時のみ(spでは表示させない) */
}

/* ------------------------------------------------------------------------
    header
------------------------------------------------------------------------  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/bg_road.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 1px #000;
    font-size: 1.5rem;
}

nav>img {
    width: 70px;
    height: 70px;
    margin-left: 1rem;
}

ul.navmenu {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-grow: 1;
}

.search_box {
    margin: 0 2rem;
    padding: 0 1rem;
    background-color: #fff;
    border-radius: 5px;
}

.search_box input[type="text"] {
    width: 150px;
}

.search_box button {
    padding: 5px 10px;
}

/* ~~~~~~~~~~~~sp表示~~~~~~~~~~~~ */

/* ------------------------------------------------------------------------
    footer
------------------------------------------------------------------------  */
footer {
    height: 350px;
    background-color: #555;
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 1px #000;
    font-size: 1.5rem;
    text-align: center;
    background-image: url(../img/bg_road.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

footer>p {
    padding: 1.5rem 0;
}

footer p:first-child {
    padding-top: 3rem;
}

.copyright {
    margin-top: 3rem;
    padding-bottom: 0;
}
