@charset "utf-8";

/* ------------------------------------------------------------------------
    all
------------------------------------------------------------------------  */
html {
    min-height: 100%;
    line-height: 1.5rem;
}

body {
    font-family: 'Zen Maru Gothic', serif;
    position: relative;
    overflow-x: hidden;
    background-color: #fff6e2;

}

main:not(.section_kv) {
    width: 90%;
    margin: 0 auto;
}

nav,
footer {
    color: #fff;
    font-family: 'Dela Gothic One', sans-serif;
}


h2 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.2rem;
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 1px #000;
    text-align: center;
}

h3 {
    font-weight: bolder;
    font-size: 1.8rem;
}

.pc_none {
    display: none;
    /* ※sp表示時のみ(PCでは表示させない) */
}

/* ~~~~~~~~~~~~sp表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* ------------------------------------------------------------------------
    header
------------------------------------------------------------------------  */
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url(../img/bg_road.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100px;
        text-shadow: 2px 2px 0 #000;
        -webkit-text-stroke: 1px #000;
        font-size: 1.5rem;
    }

    nav>img {
        width: 70px;
        height: 70px;
        margin-left: 1rem;
    }

    ul.navmenu {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        flex-grow: 1;
    }

    .search_box {
        margin: 0 2rem;
        padding: 0 1rem;
        background-color: #fff;
        border-radius: 5px;
    }

    .search_box input[type="text"] {
        width: 150px;
    }

    .search_box button {
        padding: 5px 10px;
    }
}

main:not(.section_kv) {
    width: 100%;
}

.sp_none {
    display: block;
    /* ※PC表示時のみ(spでは表示させない) */
}



/* ~~~~~~~~~~~~sp表示~~~~~~~~~~~~ */

/* ------------------------------------------------------------------------
    footer
------------------------------------------------------------------------  */
footer {
    height: 350px;
    background-color: #555;
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 1px #000;
    font-size: 1.5rem;
    text-align: center;
    background-image: url(../img/bg_road.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

footer>p {
    padding: 1.5rem 0;
}

footer p:first-child {
    padding-top: 3rem;
}

.copyright {
    margin-top: 3rem;
    padding-bottom: 0;
}


/* ------------------------------------------------------------------------
    西野
------------------------------------------------------------------------  */

/* moreボタン */

/* 外側・中央揃え・整形 */
.more_btn {
    margin: 0 auto;
    background-color: #fffCAA;
    border: 3px solid #000;
    width: 280px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #000;

}

/* ボタンいっぱいにリンクを広げる */
.more_link {
    /* border: 1px solid red; */
    padding: 5px 106px 0;
    border-radius: 20px;
}

/* 文字設定 */
.more {
    font-size: 1.5rem;
    font-family: Dela Gothic One;
}

/* トップエリア */

#toparea {
    height: 300px;
    background-color: #d13a2b;
    text-align: center;
}

#toparea>h2 {
    color: #F8A59B;
    line-height: calc(300px - 5px);
}

/* 記事背景 */
.main_wrap {
    background-color: #fff;
    max-width: 90%;
    margin: 5% auto 15%;
}

/* 画像横幅100％ */
img {
    max-width: 100%;
}

/* 小見出しフォント */
h4 {
    font-weight: bolder;
    font-size: 1.4rem;
}

/* ------------------------------------------------------------------------
    西野終わり
------------------------------------------------------------------------  */
