@charset "utf-8";

/* ------------------------------------------------------------------------
    all
------------------------------------------------------------------------  */
html {
    min-height: 100%;
    line-height: 1.5rem;
}

body {
    font-family: 'Zen Maru Gothic', serif;
    position: relative;
    overflow-x: hidden;
    background-color: #fff6e2;
    width: 100%;
    font-size: clamp(0.875rem, 0.814rem + 0.26vw, 1.125rem);
}

.pc_nav,
footer {
    color: #fff;
    font-family: 'Dela Gothic One', sans-serif;
}

h2 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: clamp(1.2rem, 0.763rem + 1.86vw, 3rem);
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 2px #000;
}


h3 {
    font-weight: bolder;
    font-size: clamp(1.1rem, 0.76rem + 1.45vw, 2.5rem);
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: 7px dotted #333;
    line-height: 1.5;
}

.h3_center {
    left: 50%;
    transform: translateX(-50%);
}

h3>p {
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

h4 {
    font-weight: bolder;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    border-left: solid 5px #555;
    font-size: clamp(1.1rem, 0.882rem + 0.93vw, 2rem);
    line-height: 1.1;
}

h5 {
    font-size: clamp(1.1rem, 0.954rem + 0.62vw, 1.7rem);
    font-weight: bold;
    text-decoration: underline wavy #333;
}

hr {
    width: 80%;
    margin: 2rem auto;
    border: 1.5px solid #000;
}

main:not(.section_kv):not(.teloparea) {
    width: 100%;
}

.content_wrap {
    padding: 0px 5.5% 14.5% 5.5%;
}

@media only screen and (max-width: 767.9px) {
    .sp_none {
        display: none !important;
        /* ※モバイル表示時のみ(PCでは表示させない) */
    }

    .pc_none {
        display: block;
    }
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    main:not(.section_kv) {
        /* width: 90%; */
        margin: 0 auto;
    }

    .sp_none {
        display: block;
    }

    .pc_none {
        display: none !important;
        /* ※sp表示時のみ(PCでは表示させない) */
    }

    h3 {
        margin-bottom: 4rem;
    }
}

/* ------------------------------------------------------------------------
    header
------------------------------------------------------------------------  */
.sp_nav {
    height: 100px;
    background-image: url(../img/bg_road.png);
    z-index: 999999;
    position: relative;
}

.sp_nav .container {
    overflow: hidden;
}

.sp_nav_logo a {
    width: 100%;
    overflow: hidden;
}

.sp_nav_logo img,
.overlaymenu_list_icon_item img {
    transition: ease 0.3s;
}

.sp_nav_logo a:hover img,
.overlaymenu_list_icon_item a:hover img {
    transform: scale(1.2);
}

.sp_nav_logo img {
    width: 90px;
    margin-left: 1.5rem;
}

.header_inner {
    position: relative;
    z-index: 10;
    width: 98%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-end;
    margin-top: 10px;
}

.header_logo {
    width: 125px;
    height: 15px;
    margin-left: 10px;
}

.header_menu {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: calc(100vh - 50px);
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease;
}

.header_inner.active .header_menu {
    opacity: 1;
    visibility: visible;
    right: 0;
    left: auto;
    height: 100%;
    overflow-y: auto;
    position: fixed;
}

.search_box_wrap {
    width: 250px;
    margin: 2.2rem 0 0 1.5rem;
}

.sp_nav .search_box {
    display: flex;
    width: 100%;
}

.sp_nav .search_box input[type="text"] {
    padding: 0 1rem;
    border: 1px solid #555;
    border-radius: 1.5rem 0 0 1.5rem;
    width: 150px;
}

.sp_nav .search_box button {
    cursor: pointer;
    padding: 1px 9px;
    margin-left: -4px;
    border-radius: 0 1.5rem 1.5rem 0;
    border: none;
    background-color: #555;
    color: #555;
    font-size: .75rem;
}

.sp_nav .search_box input:focus {
    outline: 0;
    border: 1px solid #FF9900;
}

.sp_nav .search_box button:hover {
    color: #FF9900;
}

.sp_nav .search_box input::placeholder {
    color: #555;
}

.header_menu_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    padding: 5px;
    cursor: pointer;
    z-index: 5;
}

.header_inner.active .header_menu_btn {
    position: fixed;
    right: 15px;
    top: 20px;
}

.header_menu_btn span:nth-child(-n+3) {
    position: absolute;
    display: block;
    width: 35px;
    height: 2px;
    background: #fff;
    box-shadow: 3px 3px 1px rgb(0 0 0);
}

.header_menu_btn span:nth-child(1) {
    top: 10px;
    transition: all .2s ease;
}

.header_inner.active .header_menu_btn span:nth-child(1) {
    top: 20px;
    transform: rotate(45deg);
    background: #000;
    box-shadow: none;
}

.header_menu_btn span:nth-child(2) {
    top: 18px;
    transition: opacity .2s ease;
}

.header_inner.active .header_menu_btn span:nth-child(2) {
    opacity: 0;
}

.header_menu_btn span:nth-child(3) {
    top: 26px;
    transition: all .2s ease;
}

.header_inner.active .header_menu_btn span:nth-child(3) {
    top: 20px;
    transform: rotate(-45deg);
    background: #000;
    box-shadow: none;
}

.header_menu_btn span:nth-child(4) {
    font-family: Dela Gothic One;
    font-size: 10px;
    color: #fff;
    text-shadow: 3px 3px 1px rgb(0 0 0);
    margin-top: 10px;
}

.header_inner.active .header_menu_btn span:nth-child(4) {
    color: #000;
    text-shadow: none;
}

.link_wrap {
    text-align: center;
    background-color: #fff6e2;
    width: 80%;
    margin: 10%;
}

h3.overlaymenu_title_course {
    font-size: 24px;
    margin-top: 2rem;
}

ul.overlaymenu_list_course {
    text-align: left;
    margin: 2rem 1rem;
    letter-spacing: 0.1em;
}

.overlaymenu_list_course li {
    display: flex;
    background: no-repeat right center;
}

.overlaymenu_list_course li+li {
    margin-top: 22px;
}

.overlaymenu_list_course li:not(.menu_title_li):after {
    content: '';
    margin: 0 40px 0 1em;
    background: url(../img/bg_dots.png) repeat-x left center;
    background-size: 3px auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.overlaymenu_list_course li:nth-child(odd) {
    background-image: url(../img/hammenu_icon1.png);
    background-size: 24px;
}

.overlaymenu_list_course li:nth-child(even) {
    background-image: url(../img/hammenu_icon2.png);
    background-size: 25px;
}

.overlaymenu_list_purpose li a {
    display: block;
}

h3.overlaymenu_title_purpose {
    font-size: 24px;
    color: #fff;
    background-color: #555;
    display: block;
    padding: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 0;
    text-decoration: none;
    border-bottom: solid 2px #FF9900;
}

h3.overlaymenu_title_purpose::after {
    bottom: 12px;
    border-bottom: 2px solid #FF9900;
    background-image: initial;
}

.overlaymenu_list_purpose {
    background-color: #555;
}

ul.overlaymenu_list_purpose {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.overlaymenu_list_purpose li {
    flex-basis: 42%;
    margin: 22px auto 22px auto;
    background-color: #FFFDF9;
    padding: 1rem;
}

.overlaymenu_list_icon {
    margin-top: 3rem;
}

ul.overlaymenu_list_icon_list {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    padding-bottom: 3rem;
}

@media (max-width: 1024px) {
    .sp_nav {
        display: block !important;
    }

    .pc_nav {
        display: none !important;
    }
}



/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media (min-width:768px) {

    .pc_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url(../img/bg_road.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100px;
        text-shadow: 2px 2px 0 #000;
        -webkit-text-stroke: 1px #000;
        font-size: clamp(1rem, 0.429rem + 0.89vw, 1.5rem);
    }

    .pc_nav_logo {
        width: 90px;
        padding-left: 1.5rem;
    }

    .pc_nav_logo a {
        width: 100%;
        overflow: hidden;
    }

    .pc_nav_logo img {
        height: auto;
        transition: ease 0.3s;
    }

    .pc_nav_logo a:hover img {
        transform: scale(1.2);
    }

    .pc_navmenu a {
        text-shadow: 2px 2px 0 #000;
        -webkit-text-stroke: 1px #000;
        position: relative;
        display: block;
        padding: 45px 0;
        transition: all .3s;
    }

    .pc_navmenu a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #FF9900;
        bottom: 35px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    .pc_navmenu a:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }

    .pc_nav>img {
        width: 70px;
        height: 70px;
        margin-left: 1rem;
    }

    .pc_nav ul.pc_navmenu {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        flex-grow: 1;
        align-items: center;
        position: relative;
    }

    .pc_nav .search_box_li {
        display: flex;
    }

    .pc_nav .search_box_wrap {
        width: initial;
        margin: initial;
    }

    .pc_nav .search_box_li input[type="text"] {
        flex-grow: 1;
        padding: 0 0.5rem;
        border: 1px solid #fff;
        border-radius: 1.5rem 0 0 1.5rem;
        max-width: 150px;
        height: 35px;
    }

    .pc_nav .search_box_li button {
        cursor: pointer;
        padding: 0 1rem;
        margin-left: -5px;
        border-radius: 0 1.5rem 1.5rem 0;
        border: none;
        background-color: #fff;
        color: #fff;
        font-size: .75rem;
        height: 35px;
    }

    .pc_nav .search_box_li input:focus {
        outline: 0;
        border: 1px solid #FF9900;
    }

    .pc_nav .search_box_li button:hover {
        color: #FF9900;
    }

    .pc_nav .search_box_li input::placeholder {
        color: #fff;
    }

    .child_wrap {
        display: block;
        position: absolute;
        top: 82px;
        left: -90px;
        z-index: 4;
        justify-content: space-between;
        background: #555;
        width: calc(100% + 90px);
        display: none;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
    }

    .child_wrap a {
        padding: 20px;
        position: relative;
        transition: all .7s;
    }

    ul.child_wrap dd {
        text-align: center;
    }

    .has_child>a::before {
        content: '';
        position: absolute;
        left: -10px;
        top: 54px;
        width: 6px;
        height: 6px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(135deg);
    }

    nav ul li.has_child img {
        max-width: 100%;
        height: auto;
        transition: all .5s;
        vertical-align: bottom;
    }

    nav ul li.has_child img:hover {
        transform: scale(1.2);
    }

    nav ul li.has_child dt {
        overflow: hidden;
        margin: 0 0 20px 0;
    }

    nav li.has_child:hover>ul {
        visibility: visible;
        opacity: 1;
        display: flex;
    }

    nav li.has_child ul li {
        width: 20%;
    }

    nav li.has_child ul li a:hover,
    nav li.has_child ul li a:active {
        height: 100%;
    }

    .child_wrap li a::after {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: #FF9900;
        opacity: 0;
    }

    .child_wrap li a:hover::after {
        width: 100%;
        opacity: 1;
        animation: bgappear .8s forwards;
    }

    @keyframes bgappear {
        0% {
            width: 0%;
            height: 1px;
        }

        50% {
            width: 100%;
            height: 1px;
        }

        100% {
            width: 100%;
            height: 100%;
            background: #FF9900;
        }
    }
}

/* ------------------------------------------------------------------------
    cardテンプレート
------------------------------------------------------------------------  */
/* ▼1カラムカード▼ */
.card1_wrap {
    width: 280px;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
    margin: 0 auto 25px auto;
}

.card1_content {
    padding: 30px;
}

.card1_img {
    text-align: center;
}

.card1_img img {
    border: 1px solid #000;
    width: 240px;
    height: 180px;
    object-fit: cover;
}

.card1_content h4 {
    padding: 10px 0;
    line-height: 1.1;
}

.card1_text {
    padding: 10px;
    height: 150px;
}

/* 目的別カード設計 */
.card_wrap1 {
    width: 280px;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
}

/* カード内幅揃え */
.card_wrap2 {
    padding: 30px 30px 10px;
}

/* サムネイル画像真ん中並び */
.thumbnail_img {
    text-align: center;
}

/* サムネイル画像設定 */
.thumbnail_img img {
    border: 1px solid #000;
    width: 240px;
    height: 184px;
    object-fit: cover;
}

/* 目的別カード型説明幅 */
.card_text {
    border: 1px solid #000;
    padding: 5px 10px;
    height: 60px;
}

/* 目的別カード型アイコン欄 */
.card_icon {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #000;
    height: 100px;
}


.taxonomy_box {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px 20px;
    height: 45px;
    border-radius: 20px;
    display: inline-block;
    width: auto;
    text-align: center;
    overflow: hidden;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media (min-width:768px) {
    .card1_wrap {
        width: 350px;
    }

    .card1_img img {
        width: 300px;
        height: 230px;
    }

    .card1_content h4 {
        padding: 20px 0;
    }

    /* .card1_text {
        height: 200px;
    } */

    /* 目的別カード設計 */
    .card_wrap1 {
        width: 350px;
    }

    /* カード内幅揃え */
    .card_wrap2 {
        padding: 30px;
    }

    /* サムネイル画像設定 */
    .thumbnail_img img {
        width: 240px;
    }

    /* 目的別カード説明幅 */
    .card_text {
        padding: 5px 10px;
        height: 60px;
    }

    /* 目的別アイコン欄 */
    .card_icon {
        margin: 20px 0;
        padding: 10px;
        height: 75px;
    }
}

/* ▲1カラムカード▲ */
/* ▼3カラムカード▼ */
@media (min-width:768px) {
    .card_3col {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5%;
    }
}

/* ------------------------------------------------------------------------
    footer
------------------------------------------------------------------------  */
footer {
    height: 350px;
    background-color: #555;
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 1px #000;
    font-size: 1.5rem;
    text-align: center;
    background-image: url(../img/bg_road.png);
    background-repeat: no-repeat;
    background-size: auto 100px;
    background-position: bottom;
}

footer a {
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 1px #000;
    position: relative;
    text-decoration: none;
}

footer a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #FF9900;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

footer a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

footer p {
    padding: 1.5rem 0;
}

footer p:first-child {
    padding-top: 3rem;
}

.copyright {
    margin-top: 3rem;
    padding-bottom: 0;
}

/* トップへ戻るボタン */
#page_top {
    position: fixed;
    right: 10px;
    bottom: 30px;
    z-index: 99999;
    /*はじめは非表示*/
    opacity: 0;
    transform: translateY(150px);
}

/*　上に上がる動き　*/
#page_top.UpMove {
    animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
    from {
        opacity: 0;
        transform: translateY(150px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*　下に下がる動き　*/
#page_top.DownMove {
    animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(150px);
    }
}

/*画像の切り替えと動き*/
#page_top a {
    /*aタグの形状*/
    display: block;
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    /*背景画像の指定*/
    background: url("../img/top.png") no-repeat center;
    background-size: contain;
    -webkit-text-stroke: 0.5px #000;
}

#page_top a::before {
    background-color: initial;
}

#page_top.floatAnime a {
    width: 100px;
    height: 130px;
    /*背景画像の指定*/
    background: url("../img/top2.png") no-repeat center;
    background-size: contain;
    /*アニメーションの指定*/
    animation: floatAnime 2s linear infinite;
    opacity: 0;
}

@keyframes floatAnime {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    25% {
        transform: translateX(-6px);
        opacity: 1;
    }

    50% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(6px);
        opacity: 1;
    }
}

/*Page Topと書かれたテキストの位置*/
#page_top span {
    position: absolute;
    bottom: 2px;
    right: 14px;
}


/* ページを横切る車 */
.moving_car {
    display: none;
}

.smoke_of_car {
    display: none;
}

@media only screen and (min-width:768px) {
    .moving_car {
        position: fixed;
        /* position: absolute; */
        width: 200px;
        z-index: 100;
    }

    .smoke_of_car {
        position: fixed;
        /* position: absolute; */
        width: 200px;
        z-index: 100;
    }
}

/* ------------------------------------------------------------------------
    西野
------------------------------------------------------------------------  */
/*
------------------------------------------------------------------------
ホバー時アニメーション
------------------------------------------------------------------------*/
main a>.column-container:hover,
main a>.course_details_card:hover,
main a>.card_wrap1:hover,
main a>.card3_wrap:hover,
.card1_wrap:hover,
.card3_content a:hover,
.sitemap_btn:hover {
    transform: translate(5px, 5px);
    transition: .3s;
    opacity: .6;
    box-shadow: 0 0 0 #000;
}

/* ------------------------------------------------------------------------
moreボタン
------------------------------------------------------------------------ */

/* 外側・中央揃え・整形 */
.more_btn {
    margin: 0 auto;
    background-color: #fffCAA;
    border: 3px solid #000;
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #000;
}

/* ボタンいっぱいにリンクを広げる */
.more_link {
    padding: 5px 86px 0;
    border-radius: 20px;
}

/* 文字設定 */
.more {
    font-size: 1.5rem;
    font-family: Dela Gothic One;
}

.more_btn:hover {
    transform: translate(5px, 5px);
    transition: .3s;
    box-shadow: 0 0 0 #000;
}


/* ------------------------------------------------------------------------
帯
 ------------------------------------------------------------------------  */

/* 帯全体左右中央 */
#toparea {
    height: 100px;
    text-align: center;
    line-height: 100px;
}

/* 記事背景 */
.main_wrap {
    background-color: #FFFDF9;
    margin: 20px 18.75px;
}

/* パンくずリスト */
.breadcrumb {
    padding: 20px 0 40px 16px;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {
    #toparea {
        height: 150px;
        line-height: 150px;
    }

    .breadcrumb {
        padding: 40px 0 80px 32px;
    }

    .main_wrap {
        margin: 80px 96px;
    }
}

/* 画像横幅100％ */
img {
    max-width: 100%;
}

/* ------------------------------------------------------------------------
サイドバー
------------------------------------------------------------------------ */

/* カテゴリ枠中央寄せ */
.aside_wrap {
    width: 300px;
    margin: 0 auto;
    font-weight: bold;
}

/* タイトル表示 */
.aside_title {
    padding-bottom: 30px;
    text-align: center;
    font-size: 1.8rem;
    white-space: nowrap;
}

/* li要素下線 */
.aside_wrap li {
    border-bottom: 3px dotted #000;
    padding: 10px 20px 50px;
    font-size: 1.4rem;
    position: relative;
}

/* カテゴリ別before要素 */
.aside_wrap a::before {
    content: '';
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url(../img/sidebar_icon.png);
    background-size: contain;
    vertical-align: middle;
}

/* リンクを親要素いっぱいに広げる */
.aside_wrap a {
    display: inline-block;
    position: absolute;
    width: 300px;
    height: 50px;
}



/* ~~~~~~~~~~~~ページネーションpc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    .aside_wrap {
        margin: 0 auto;
    }
}

/* ------------------



/* ------------------------------------------------------------------------
ページネーション
------------------------------------------------------------------------ */
/*真ん中に設置*/
.pagination {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px auto;
}

.pagination-page {
    text-align: center;

}

/*横並びにする*/
.nav-links {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;

}

.page-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

}

/*ページタブの共通スタイル*/
.nav-links a.page-numbers,
.nav-links .current,
.nav-links a.prev,
.nav-links a.next,
.nav-links .dots {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 10px;
    text-decoration: none;
    color: #000;

}

.nav-links a.page-numbers,
.nav-links .current {
    background-image: url(../img/pagination.png);
    background-size: 100%;
    font-family: 'Barlow Condensed', sans-serif;
}

.nav-links a.prev,
.nav-links a.next,
.nav-links .dots {
    background-image: none;
    font-size: 3rem;

}

/*現在のページのタブ*/
.nav-links .current {
    background-color: #999;
    color: #fff;
    border-radius: 50%;
    padding: 0px;
    padding-top: 10px;
}

/*数字省略の「・・・」*/
.nav-links .dots {
    border: none;
}

/* ページネーション・改 */
/* 前への矢印 */
.nav-links a.prev:before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #000;
    margin-right: 5px;
    /* margin-top: -10px; -10pxのマージンを追加 */
}

/* 次への矢印 */
.nav-links a.next:after {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #000;
    margin-left: 5px;
    /* margin-top: -10px; -10pxのマージンを追加 */
}


/* ~~~~~~~~~~~~ページネーションpc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    .pagination {
        text-align: center;
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 30px auto;
    }

    /*ページタブの共通スタイル*/
    .nav-links a.page-numbers,
    .nav-links .current,
    .nav-links a.prev,
    .nav-links a.next,
    .nav-links .dots {
        width: 70px;
        height: 70px;
        text-align: center;
        line-height: 50px;
        margin-right: 25px;
        font-size: 2.5rem;
        font-weight: bold;
        padding-top: 10px;
        text-decoration: none;
        color: #000;

    }

    .nav-links .current {
        background-color: #999;
        color: #fff;
        border-radius: 50%;
        padding: 0px;
        padding-top: 10px;
    }

    /*マウスが乗った時の、ボタンの背景の色と文字の色*/
    .nav-links a.page-numbers:hover {
        color: #000;
        background-color: #ccc;
        border-radius: 50%;

    }

    /* 前への矢印 */
    .nav-links a.prev:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid #000;
        margin-right: 5px;
        margin-top: 5px;
        /* 5pxのマージンを追加 */
    }

    /* 次への矢印 */
    .nav-links a.next:after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #000;
        margin-left: 5px;
        margin-top: 5px;
        /* 5pxのマージンを追加 */
    }

}



/* ------------------------------------------------------------------------
    マウスストーカー
------------------------------------------------------------------------  */
#stkr {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100px;
    /* height: 200px; */
    /* background: rgba(0, 0, 0, 0.5); */
    border-radius: 50%;
    transition: 0.4s;
    transition-timing-function: ease-out;
    pointer-events: none;
    z-index: 10;
    display: flex;
}

#stkr img {
    width: 120px;
}

.car_img {
    margin-top: 200px;
    margin-left: 50px;
    z-index: 2;
}

.gas {
    /* border: 1px solid red; */
    margin-top: 140px;
    margin-left: -20px;
}

/* 非表示 fukushima add 2023/12/06 */
.hide {
    display: none;
}
