@charset "utf-8";

/* ------------------------------------------------------------------------
    all
------------------------------------------------------------------------  */
html {
    min-height: 100%;
    line-height: 1.5rem;
}

body {
    font-family: 'Zen Maru Gothic', serif;
    position: relative;
    overflow-x: hidden;
    background-color: #fff6e2;
    width: 100vw;

}

nav,
footer {
    color: #fff;
    font-family: 'Dela Gothic One', sans-serif;
}

h2 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.2rem;
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 1px #000;
}


h3 {
    font-weight: bolder;
    font-size: 1.8rem;
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
}

h3>p {
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

h3::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 10px;
    /* 下線の高さを調整 */
    background-image: url("../img/wave_bottom.svg");
    background-repeat: repeat-x;
    background-size: contain;
}

main:not(.section_kv):not(.teloparea) {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .sp_none {
        display: none;
        /* ※モバイル表示時のみ(PCでは表示させない) */
    }
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    main:not(.section_kv) {
        /* width: 90%; */
        margin: 0 auto;
    }

    .pc_none {
        display: none;
        /* ※sp表示時のみ(PCでは表示させない) */
    }

}

/* ------------------------------------------------------------------------
    header
------------------------------------------------------------------------  */
.sp_nav {
    height: 100px;
    background-color: #555;
}

.container {
    overflow: hidden;
}

.header__inner {
    position: relative;
    z-index: 10;
}

.header__logo {
    width: 125px;
    height: 15px;
    margin-left: 10px;
}

.header__menu {
    position: fixed;
    z-index: 5;
    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease;
}

.header__inner.active .header__menu {
    opacity: 1;
    visibility: visible
}

.menu__list {
    border-top: 1px solid #d7d7d7;
}

.menu__item {
    border-bottom: 1px solid #d7d7d7;
}

.menu__link {
    display: block;
    padding: 13px 10px;
    color: #F5675B;
}

.header__menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 50px;
    height: 50px;
    padding: 5px;
    cursor: pointer;
}

.header__menu-btn span:nth-child(-n+3) {
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background: #F5675B;
}

.header__menu-btn span:nth-child(1) {
    top: 10px;
    transition: all .2s ease;
}

.header__inner.active .header__menu-btn span:nth-child(1) {
    top: 20px;
    transform: rotate(45deg);
}

.header__menu-btn span:nth-child(2) {
    top: 18px;
    transition: opacity .2s ease;
}

.header__inner.active .header__menu-btn span:nth-child(2) {
    opacity: 0;
}

.header__menu-btn span:nth-child(3) {
    top: 26px;
    transition: all .2s ease;
}

.header__inner.active .header__menu-btn span:nth-child(3) {
    top: 20px;
    transform: rotate(-45deg);
}

.header__menu-btn span:nth-child(4) {
    font-size: 10px;
    color: #F5675B;
}



/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {
    .pc_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url(../img/bg_road.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100px;
        text-shadow: 2px 2px 0 #000;
        -webkit-text-stroke: 1px #000;
        font-size: 1.5rem;
    }

    .pc_nav>img {
        width: 70px;
        height: 70px;
        margin-left: 1rem;
    }

    .pc_nav ul.navmenu {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        flex-grow: 1;
    }

    .pc_nav .search_box_li {
        margin: 0 2rem;
        padding: 0 1rem;
        background-color: #fff;
        border-radius: 5px;
    }

    .pc_nav .search_box_li input[type="text"] {
        flex-grow: 1;
        padding: 0.7rem 0 0.7rem 0.8rem;
        border: 1px solid #333;
        border-radius: 1.5rem;
    }

    .pc_nav .search_box_li button {
        position: absolute;
        top: -0.05rem;
        right: 0;
        cursor: pointer;
        padding: .8rem .9rem .8rem .8rem;
        border: none;
        background: none;
        color: #333;
        font-size: 1rem;
        transition: 0.5s;
    }
}

/* ------------------------------------------------------------------------
    footer
------------------------------------------------------------------------  */
footer {
    height: 350px;
    background-color: #555;
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 1px #000;
    font-size: 1.5rem;
    text-align: center;
    background-image: url(../img/bg_road.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

footer>p {
    padding: 1.5rem 0;
}

footer p:first-child {
    padding-top: 3rem;
}

.copyright {
    margin-top: 3rem;
    padding-bottom: 0;
}

/* ------------------------------------------------------------------------
    西野
------------------------------------------------------------------------  */

/* moreボタン */

/* 外側・中央揃え・整形 */
.more_btn {
    margin: 0 auto;
    background-color: #fffCAA;
    border: 3px solid #000;
    width: 280px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #000;

}

/* ボタンいっぱいにリンクを広げる */
.more_link {
    /* border: 1px solid red; */
    padding: 5px 106px 0;
    border-radius: 20px;
}

/* 文字設定 */
.more {
    font-size: 1.5rem;
    font-family: Dela Gothic One;
}

/* トップエリア */

#toparea {
    height: 300px;
    /* background-color: #d13a2b; */
    text-align: center;
}

#toparea>h2 {
    /* color: #F8A59B; */
    line-height: calc(300px - 5px);
}

/* 記事背景 */
.main_wrap {
    background-color: #fff;
    max-width: 90%;
    margin: 5% auto 15%;
}

/* パンくずリスト */
.breadcrumb {
    padding: 20px 16px;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {
    .breadcrumb {
        padding: 40px 32px;
    }
}

/* 画像横幅100％ */
img {
    max-width: 100%;
}

/* 小見出しフォント */
h4 {
    font-weight: bolder;
    font-size: 1.4rem;
}

/* ------------------------------------------------------------------------
サイドバー
------------------------------------------------------------------------ */

/* カテゴリ枠中央寄せ */
.aside_wrap {
    width: 300px;
    margin: 0 auto;
    font-weight: bold;
    padding-bottom: 50px;
}

/* タイトル表示 */
.aside_title {
    padding: 30px 0;
    text-align: center;
    font-size: 1.8rem;
}

/* li要素下線 */
.aside_wrap li {
    border-bottom: 3px dotted #000;
    padding: 10px 20px 50px;
    font-size: 1.4rem;
    position: relative;
}

/* カテゴリ別before要素 */
.aside_wrap a::before {
    content: '';
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url(../img/sidebar_icon.png);
    background-size: contain;
    vertical-align: middle;
}

/* リンクを親要素いっぱいに広げる */
.aside_wrap a {
    display: inline-block;
    position: absolute;
    width: 300px;
    height: 50px;
}

/* ------------------------------------------------------------------------
    西野終わり
------------------------------------------------------------------------  */
