/* ページ全体 */
.main_wrap {
    text-align: center;
}

/* ページのh3 */
.main_wrap h3 {
    margin: 30px;
    font-size: 1.5rem;
}

/*ヘッダー下部の帯 */
#toparea {
    background-color: #ed76bd;
    color: #f8c9d7;
}

/* GoogleMap */
.course_map {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

/* GoogleMap-中身 */
.map {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    height: 250px;
}

/* iframe */
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.course_text {
    margin-bottom: 5%;
}

section.course_text p {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
}

@media (min-width: 768px) {
    .main_wrap h3 {
        font-size: 1.8rem;
    }
}

/* ------------------------------------------------------------------------
    course説明欄
------------------------------------------------------------------------  */
.course_wrap {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 3%;
    padding-bottom: 5%;
    justify-content: center;
}

.travel_time_content {
    display: flex;
}

.coordinate {
    position: relative;
    width: 85px;
}

.coordinate img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.coordinate img:nth-child(2) {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.course_details {
    display: flex;
    flex-direction: column;
}

.course_details_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #000;
    box-shadow: 5px 5px 0 #000;
}

.course_imgbox {
    width: 180px;
    height: 165px;
}

.course_details_card img {
    width: 100%;
    max-width: 250px;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 3%;
}

.course_facility {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem auto;
}

.course_facility_info {
    text-align: left;
    padding: 0 .5rem 1rem .5rem;
}

@media (min-width: 1025px) {
    .coordinate {
        width: 100px;
    }

    .course_wrap {
        gap: 5%;
        justify-content: center;
    }

    .course_details {
        flex-grow: 1;
    }

    .course_details_card {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        gap: 3%;
    }

    .course_imgbox {
        flex: 0 0 250px;
        height: 230px;
    }

    .course_details_card img {
        margin-right: 10px;
        margin-bottom: 0;
    }

    .course_textbox {
        width: 80%;
        padding: 1rem;
    }

    .course_facility {
        font-size: 1.5rem;
        margin: 0 auto 1.5rem auto;
    }

    .course_facility_info {
        font-size: 1.2rem;
        padding: 0;
    }
}

/* ------------------------------------------------------------------------
    おすすめコース欄
------------------------------------------------------------------------  */

.card1_text {
    background-color: #fff;
    margin-top: 10%;
    text-align: left;
}


.recommend_flex_box {
    flex-basis: 25%;
}

.recommend_flex:last-child {
    padding-bottom: 10%;
}

h4 {
    border-left: none;
    font-size: clamp(1.4rem, 1.279rem + 0.52vw, 1.9rem);
}

@media (min-width: 768px) {

    .recommend_flex {
        display: flex;
        justify-content: center;
        padding-top: 5%;
        flex-wrap: wrap;
        gap: 100px;
    }

    .recommend_flex2 {
        display: flex;
        justify-content: center;
        padding-top: 5%;
        flex-wrap: wrap;
        gap: 100px;
    }
}


@media (min-width: 1400px) {
    .recommend_flex_box {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
}

/* ------------------------------------------------------------------------
    共通カラー指定s
------------------------------------------------------------------------  */
/* .course_a .course_details_card {
    background-color: #ff8b03;
}

.course_a .card1_content {
    background-color: rgba(255, 139, 3, 0.5);
}

.course_b .course_details_card {
    background-color: #996633;
}

.course_b .card1_content {
    background-color: rgba(153, 102, 51, 0.5);
}

.course_c .course_details_card {
    background-color: #ff1e1e;
}

.course_c .card1_content {
    background-color: rgba(255, 30, 30, 0.5);
}

.course_d .course_details_card {
    background-color: #11cd7e;
}

.course_d .card1_content {
    background-color: rgba(17, 205, 126, 0.5);
}

.course_e .course_details_card {
    background-color: #d427f0;
}

.course_e .card1_content {
    background-color: rgba(212, 39, 240, 0.5);
} */

.course_sea {
    background-color: #ff8b0380;
}

.course_history {
    background-color: #99663380;
}

.course_around {
    background-color: #11cd7e80;
}

.course_gurutto {
    background-color: #ff1e1e80;
}

.course_kids {
    background-color: #d427f080;
}


.car_wrap {
    position: relative;
    width: 85px;
    height: 110px;
}

.req_time {
    width: 100px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-shadow:
        -1px -1px 0 #000,
        /* 左上の縁 */
        1px -1px 0 #000,
        /* 右上の縁 */
        -1px 1px 0 #000,
        /* 左下の縁 */
        1px 1px 0 #000;
}

.req_time {
    border-left: none;
}

@media (min-width: 768px) {

    .car_wrap {
        width: 100px;
    }

    .req_time {
        width: 140%;
    }
}
