/* ページ全体 */
.main_wrap {
    text-align: center;
}

/* ページのh3 */
.main_wrap h3 {
    margin: 30px;
    font-size: 1.5rem;
}

/*ヘッダー下部の帯 */
#toparea {
    background-color: #ed76bd;
        color: #f8c9d7;
}

/* GoogleMap */
.course_map {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* GoogleMap-中身 */
.map {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

/* iframe */
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.course_text {
    margin-bottom: 10%;
}

section.course_text p {
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

@media (min-width: 768px) {
    .main_wrap h3 {
        font-size: 1.8rem;
    }
}

/* ------------------------------------------------------------------------
    course説明欄
------------------------------------------------------------------------  */
.course_wrap {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 5%;
    padding-bottom: 5%;
}

.travel_time_content {
    display: flex;
}

.coordinate {
    position: relative;
    width: 85px;
}

.coordinate img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.coordinate img:nth-child(2) {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.course_details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.course_details_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #000;
    box-shadow: 5px 5px 0 #000;
}

.course_details_card img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 3%;
}

.course_facility {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.course_facility_info {
    font-size: 14px;
}

@media (min-width: 768px) {
    .coordinate {
        width: 100px;
    }

    .course_details_card {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    .course_details_card img {
        margin-right: 10px;
        margin-bottom: 0;
    }
}

/* ------------------------------------------------------------------------
    おすすめコース欄
------------------------------------------------------------------------  */
.card1_text {
    background-color: #fff;
    margin-top: 10%;
}

.recommend_flex {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    flex-wrap: wrap;
}

.recommend_flex_box {
    flex-basis: 25%;
}

.recommend_flex:last-child {
    padding-bottom: 10%;
}

@media (min-width: 1400px) {
    .recommend_flex_box {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
}

@media (min-width: 768px) {
    .card1_wrap {
        width: 300px;
    }
}

/* ------------------------------------------------------------------------
    共通カラー指定s
------------------------------------------------------------------------  */
.course_a .course_details_card {
    background-color: #ff8b03;
}

.course_a .card1_content {
    background-color: rgba(255, 139, 3, 0.5);
}

.course_b .course_details_card {
    background-color: #996633;
}

.course_b .card1_content {
    background-color: rgba(153, 102, 51, 0.5);
}

.course_c .course_details_card {
    background-color: #ff1e1e;
}

.course_c .card1_content {
    background-color: rgba(255, 30, 30, 0.5);
}

.course_d .course_details_card {
    background-color: #11cd7e;
}

.course_d .card1_content {
    background-color: rgba(17, 205, 126, 0.5);
}

.course_e .course_details_card {
    background-color: #d427f0;
}

.course_e .card1_content {
    background-color: rgba(212, 39, 240, 0.5);
}


.car_wrap{
    position: relative;
    width: 85px;
    height: 110px;
}

.req_time{
    width: 100px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    text-shadow:
    -1px -1px 0 #000, /* 左上の縁 */
    1px -1px 0 #000,  /* 右上の縁 */
    -1px 1px 0 #000,  /* 左下の縁 */
    1px 1px 0 #000;
}


@media (min-width: 768px) {

    .car_wrap{
        width: 100px;
    }

    .req_time{
        width: 100px;
    }
}
