/* ------------------------------------------------------------------------
    TOP内共通
------------------------------------------------------------------------  */
img {
  width: 100%;
}

.teloparea {
  height: 100px;
  background-color: #fff;
}

/* ------------------------------------------------------------------------
    section_kv
------------------------------------------------------------------------  */
.section_kv {
  background-color: #fff6e2;
}

.kv_left, .kv_main, .kv_right {
  position: relative;
  padding: 23vh 0;
}

.logo {
  position: absolute;
  top: 15%;
  width: 90%;
  left: 5%;
}

.catchcopy {
  width: 50%;
  position: absolute;
  bottom: 23%;
}

.purpose {
  padding: 38px 0;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
}

.purpose p {
  flex-shrink: 0;
  margin-right: 20px;
  animation-name: marquee;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {
  .kv_img_wrap {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;
  }

  .kv_left, .kv_main, .kv_right {
    width: 46%;
    min-width: 46%;
    position: relative;
    padding: 20vh 0;
  }

  .kv_left {
    margin-left: -30%;
  }

  .kv_right {
    margin-right: -30%;
  }

  .logo {
    top: 3%;
  }

  .catchcopy {
    bottom: 14%;
  }

  .kv_img2 {
    text-align: center;
  }

  .kv_img_wrap img {
    margin-top: 2rem;
    object-fit: cover;
    width: 100%;
  }
}
