/* ------------------------------------------------------------------------
    TOP内共通
------------------------------------------------------------------------  */
img {
  width: 100%;
}

.teloparea {
  height: 100px;
  background-color: #fff;
}

/* ------------------------------------------------------------------------
    section_kv
------------------------------------------------------------------------  */
.section_kv {
  background-color: #fff6e2;
}

.kv_left, .kv_main, .kv_right {
  position: relative;
  padding: 23vh 0;
}

.logo {
  position: absolute;
  top: 15%;
  width: 90%;
  left: 5%;
}

.catchcopy {
  width: 50%;
  position: absolute;
  bottom: 23%;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {
  .kv_img_wrap {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;
  }

  .kv_left, .kv_main, .kv_right {
    width: 46%;
    min-width: 46%;
    position: relative;
    padding: 20vh 0;
  }

  .kv_left {
    margin-left: -30%;
  }

  .kv_right {
    margin-right: -30%;
  }

  .logo {
    top: 3%;
  }

  .catchcopy {
    bottom: 14%;
  }

  .kv_img2 {
    text-align: center;
  }

  .kv_img_wrap img {
    margin-top: 2rem;
    object-fit: cover;
    width: 100%;
  }
}

/* ------------------------------------------------------------------------
    section_map
------------------------------------------------------------------------  */
.section_map {
  background-color: #ed76bd;
}

.marquee {
  padding: 38px 0;
  overflow: hidden;
}

.marquee-container {
  display: flex;
  justify-content: space-around;
  animation-name: marquee;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-family: 'DotGothic16', sans-serif;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee p:nth-child(odd) {
  color: #00B9C5;
}

.marquee p:nth-child(even) {
  color: #FF27F6;
}

/* ------------------------------------------------------------------------
    section_column
------------------------------------------------------------------------  */
.section_column {
  background-color: #833091;
}

/* ------------------------------------------------------------------------
    section_instagram
------------------------------------------------------------------------  */
.section_instagram {
  background-color: #4E99F8;
}
