/* ------------------------------------------------------------------------
    TOP内共通
------------------------------------------------------------------------  */
img {
  width: 100%;
}

.toparea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: initial;
}

h2.toparea {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.teloparea {
  height: 150px;
  background-color: #fff;
}

.more_btn_container {
  padding-bottom: 10%;
}

.more_btn {
  width: 280px;
  text-align: center;
}

.more_btn:hover {
  color: #fff;
  background-color: #333;
}

/* ------------------------------------------------------------------------
    section_kv
------------------------------------------------------------------------  */
.section_kv {
  background-color: #fff6e2;
}

.kv_left, .kv_main, .kv_right {
  position: relative;
  padding: 17vh 0;
}

.logo {
  position: absolute;
  top: 15%;
  width: 90%;
  left: 5%;
}

.logo.poyoyon.is-animated {
  animation: poyoyon 0.5s cubic-bezier(0.12, 0, 0.39, 0) 1 forwards;
}

@keyframes poyoyon {
  0% {
    transform: translateX(140px);
    opacity: 0;
  }

  50% {
    transform: translateX(0);
  }

  65% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0);
  }

  20%, 100% {
    opacity: 1;
  }
}

.catchcopy {
  width: 50%;
  position: absolute;
  bottom: 21%;
}

.anim-box.slidein.is-animated {
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }

  40%, 100% {
    opacity: 1;
  }
}

.kv_deco {
  width: 30%;
  position: absolute;
  bottom: 37%;
  right: 2px;
}

.anim-box.slide-skew.is-animated {
  animation: slide-skew 0.4s cubic-bezier(0.25, 1, 0.5, 1) 2s forwards;
  transform: skew(-30deg);
  opacity: 0;
}

@keyframes slide-skew {
  0% {
    transform: translate(180px, 30px) skew(-30deg);
    opacity: 0;
  }

  50% {
    transform: translate(90px, 15px) skew(-15deg);
    /* 途中まで傾いた状態 */
    opacity: 1;
  }

  100% {
    transform: translate(0, 0) skew(0);
    /* 傾きを元に戻す */
    opacity: 1;
  }
}


/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {
  .kv_img_wrap {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;
  }

  .kv_left, .kv_main, .kv_right {
    width: 46%;
    min-width: 46%;
    position: relative;
    padding: 12vh 0;
  }

  .kv_left {
    margin-left: -30%;
  }

  .kv_right {
    margin-right: -30%;
  }

  .logo {
    top: 3%;
  }

  .catchcopy {
    bottom: 14%;
  }

  .kv_img2 {
    text-align: center;
  }

  .kv_img_wrap img {
    margin-top: 2rem;
    object-fit: cover;
    width: 100%;
  }
}

/* ------------------------------------------------------------------------
    section_map
------------------------------------------------------------------------  */
.section_map {
  background-color: #ed76bd;
}

.marquee {
  padding: 38px 0;
  overflow: hidden;
}

.marquee .more_btn {
  margin-top: 1.5rem;
}

.marquee_container {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  animation-name: marquee;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 1.5rem;
  font-family: 'DotGothic16', sans-serif;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee_container a:nth-child(odd) {
  color: #00B9C5;
}

.marquee_container a:nth-child(even) {
  color: #FF27F6;
}

.marquee_container a:first-child {
  padding-left: 350px;
}

.map_container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3%;
}

.map svg {
  width: 90%;
  height: 100%;
  border: 3px solid #000;
  box-shadow: 5px 5px 0 #000;
}

.courses {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 3%;
}

h2.title_drivecourse {
  color: #F8C9D7;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.btn {
  width: 15%;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding: 18px 30px;
  border-radius: 25px;
  transition: .3s;
  text-align: center;
  border: 3px solid #000;
  box-shadow: 5px 5px 0 #000;
}

.btn_course1 {
  background-color: #FF8B03;
}

.btn_course2 {
  background-color: #996633;
}

.btn_course3 {
  background-color: #FF1E1E;
}

.btn_course4 {
  background-color: #11CD7E;
}

.btn_course5 {
  background-color: #D427F0;
}

.btn:hover {
  color: #fff;
  background-color: #333;
}

/* ~~~~~~~~~~~~スマホボタン表示~~~~~~~~~~~~ */
@media only screen and (max-width:767px) {
  .pc_button {
    display: none;
  }
}

/* ~~~~~~~~~~~~pcボタン表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {
  .sp_button {
    display: none;
  }
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {
  .map_container {
    width: 90%;
  }
}

/* ------------------------------------------------------------------------
    section_column
------------------------------------------------------------------------  */
.section_column {
  background-color: #833091;
}

.purpose_btn_wrap .image-container {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.purpose_btn_wrap .image-item {
  opacity: 0;
  transform: translateX(100%);
  animation: slide-in 1s ease-in forwards;
  width: 200px;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

h2.title_pickupcolumn {
  color: #a3a0d4;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.column-container {
  width: 90%;
  display: flex;
  margin: auto;
  margin-bottom: 5%;
  background-color: #fff;
  gap: 3%;
  align-items: flex-start;
  border: 3px solid #000;
  box-shadow: 5px 5px 0 #000;
}

.column_imgbox,
.column-text {
  flex-basis: 48%;
  padding: 1%;
}

.column-image {
  width: 100%;
  min-width: 140px;
  border-radius: 3%;
  margin-left: 3%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.column-text h3 {
  font-size: 18px;
  text-align: left;
}

.purpose_delaywrap_flex {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: end;
  padding-top: 2rem;
}

.purpose_delaywrap_box {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateX(100%);
  margin-right: 5px;
  max-width: 15%;
}

.purpose_delaywrap_flex img {
  max-height: 150px;
}

.purpose_delaywrap_box img:not(.initial) {
  max-height: 100px;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {
  .column-flexbox {
    display: flex;
    padding-bottom: 5%;
    gap: 5%;
    justify-content: center;
  }

  .column-container {
    display: block;
    text-align: center;
    padding: 7% 0;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
  }

  .column_imgbox,
  .column-text {
    padding: 0;
  }

  .column-image {
    width: 80%;
    border-radius: 5%;
    margin: 3% 0;
    height: 50%;
  }

  .column-text h3 {
    font-size: 20px;
    margin-bottom: 12%;
  }

  .column-text {
    width: 80%;
    margin: 5% auto;
  }

  .column-text p {
    text-align: left;
  }
}


/* ------------------------------------------------------------------------
    section_instagram
------------------------------------------------------------------------  */
.section_instagram {
  background-color: #4E99F8;
}

#recommended_keywords {
  position: relative;
  height: 150px;
  overflow: hidden;
}

.moving_text {
  position: absolute;
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 2% 4.5% 1.5%;
  background-image: url(../img/bg_keyword.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

p.moving_text:hover {
  background-image: url(../img/bg_keyword2.png);
}

.section_instagram h2.toparea {
  color: #0b5ce2;
}

.instagram_grid {
  display: grid;
  grid-gap: 20px;
  margin: 0 10%;
  padding-bottom: 5%;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 5%;
}

.instagram_grid_item {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border: 3px solid #000;
  box-shadow: 5px 5px 0 #000;
}

.instagram_grid_item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instagram_follow {
  text-align: center;
  padding-bottom: 10%;
}

.instagram_follow_btn {
  display: inline-block;
  background-color: #fff;
  border: 3px solid #000;
  width: 280px;
  padding: 5px;
  position: relative;
  height: 2em;
  transition: 0.5s;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.4em;
  box-shadow: 5px 5px 0 #000;
  font-family: "Dela Gothic One", sans-serif;
}

.instagram_follow_btn a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.instagram_follow_btn span {
  position: absolute;
  top: 8px;
  left: 4.5rem;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

.instagram_follow_btn svg {
  position: absolute;
  top: 0.6rem;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff;
}

.instagram_follow_btn:hover span {
  left: 4rem;
  color: #fff;
}

.instagram_follow_btn:hover svg {
  opacity: 1;
}

.instagram_follow_btn:hover {
  background-color: #bc2a8d;
}

/* ~~~~~~~~~~~~タブレット表示~~~~~~~~~~~~ */
@media (min-width: 768px) {
  .instagram_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media (min-width: 1024px) {
  .instagram_grid {
    grid-template-columns: repeat(4, 1fr);
    margin-left: calc(100% / 6);
    margin-right: calc(100% / 6);
  }
}

/* ------------------------------------------------------------------------
    section_pdf
------------------------------------------------------------------------  */
.section_pdf {
  background-color: #3CC8C3;
}

.section_pdf h2.toparea {
  color: #0bb2bf;
}

.pdf_wrap_sp.pc_none {
  padding: 0 10% 10% 10%;
}

.pdf_wrap_sp .card1_content {
  background-color: #fff;
}

.pdf_wrap_sp .card1_img img {
  height: auto;
  border: initial;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}

.pdf_wrap_sp .card1_text {
  border: initial;
  height: auto;
  padding: 1.5rem 10px 10px 10px;
}

.pdf_anim {
  animation-name: yureru;
  transform: rotate(1deg);
  animation-duration: 5s;
}

@keyframes yureru {
  50% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(1deg);
  }
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media (min-width: 768px) {
  .pdf_wrap_pc {
    padding: 0 10% 10% 10%;
    width: 80%;
    margin: 0 auto;
  }

  .pdf_page2 {
    position: relative;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 5px 5px 0px #000;
    transform-style: preserve-3d;
    perspective: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    margin: 0 auto;
  }

  .pdf_page1 {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s;
    transform-origin: 0;
    box-shadow: 5px 5px 0px #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pdf_page2:hover .pdf_page1 {
    transition: all 0.5s;
    transform: rotatey(-80deg);
  }
}
