@charset "UTF-8";
/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #6DB1D8;
    color: #1D8BCE;
}

/* ------------------------------------------------------------------------
中見出し
------------------------------------------------------------------------  */

.content_wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.text-container {
    text-align: center;
}

@media only screen and (min-width:768px) {
    .text-container {
        text-align: initial;
    }
}

.title {
    padding: 20px;
    font-weight: bolder;
    font-size: 1.8rem;
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 120%;
    margin: auto;
}

@media only screen and (min-width:768px) {
    .title {
        margin: initial;
        padding-left: 32px;
    }
}

p {
    margin: auto;
    padding: 5%;
}

@media only screen and (min-width:540px) {
    p {
        padding: 4%;
    }
}

@media only screen and (min-width:768px) {
    p {
        padding: 3%;
    }
}

/* セクション幅 */
section {
    padding: 10px;
}
