@charset "UTF-8";
/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #6DB1D8;
    color: #1D8BCE;
}

/* ------------------------------------------------------------------------
中見出し
------------------------------------------------------------------------  */

/* .breadcrumb {
    margin: auto;
    padding: 5%;
    } */

@media only screen and (min-width:540px){
    /* .breadcrumb{
        padding: 4%;
    } */
}

@media only screen and (min-width:768px){
    /* .breadcrumb{
        padding: 3%;
    } */
}

.text-container{
    text-align: center;
}

@media only screen and (min-width:768px){
    .text-container{
        text-align: initial;
    }
}


.title {
    padding: 20px;
    font-weight: bolder;
    font-size: 1.8rem;
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 120%;
    margin: auto;
}

@media only screen and (min-width:768px){
    .title{
        margin: initial;
        padding-left: 32px;
    }
}

.text-container>p{
    margin: auto;
    padding: 5%;
}

@media only screen and (min-width:540px){
    .text-container>p{
        padding: 4%;
    }
}

@media only screen and (min-width:768px){
    .text-container>p{
        padding: 3%;
    }
}


/* セクション幅 */
section {
    padding: 10px;
}

.image-container{
    margin: auto;
    width: 70%;
    padding: 30px;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px){
    .image-container{
        width: 50%;
    }
}
