@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #A4E862;
    color: #BDD500;
}

/* ------------------------------------------------------------------------
Q&A アコーディオンメニュー
------------------------------------------------------------------------ */
.accordion {
    margin: 0 auto;
    max-width: 70vw;
}

.toggle {
    display: none;
}

.option {
    position: relative;
    margin-bottom: 1em;
}

.title,
.content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
}

.title {
    padding: 0.7rem;
    display: block;
    color: #333;
    font-weight: bold;
    background-color: #FFF6E2;
    display: flex;
    align-items: center;
    position: relative;
}

.q_aimg {
    width: 30px;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 7px;
    left: 7px;
}

.answer_wrap img {
    top: 3px;
    left: 3px;
}

.title::after,
.title::before {
    content: "";
    position: absolute;
    right: 21px;
    top: 14px;
    width: 2px;
    height: 0.75em;
    background-color: #999;
    transition: all 0.3s;
    font-size: 1.5rem;
}

.title::after {
    transform: rotate(90deg);
}

.answer_wrap {
    width: auto;
    border: 6px solid #ccc;
    display: flex;
    align-items: center;
    position: relative;
}


.content {
    max-height: 0;
    overflow: hidden;
}

.question_p {
    margin-top: 35px;
}

.content p {
    margin-top: 35px;
    line-height: 1.5;
    padding: 0.7rem;
}

.toggle:checked+.title+.content {
    max-height: 500px;
    transition: all 1s;
}

.toggle:checked+.title::before {
    transform: rotate(90deg) !important;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {
    .q_aimg {
        width: 50px;
        height: auto;
        margin: 0px 20px 0px 20px;
        object-fit: cover;
        position: initial;
    }

    .question_p {
        margin-top: initial;
    }

    .answer_wrap img {
        width: 55px;
        height: auto;
    }

    .content p {
        margin: 0;
        padding: 0.5em 1em 1em;
        padding: 30px 60px 30px 0;
    }
}
