@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #A4E862;
    color: #BDD500;
}

/* ------------------------------------------------------------------------
中見出し
------------------------------------------------------------------------  */

/* 外枠中央配置 */
.center_title {
    margin-top: 150px;
    text-align: center;
}

/* 中見出し幅 */
.middle_title {
    padding: 100px 50px 10px;
    margin: 40px;
}

/* トップメニュー横並び */
.menu_wrap {
    display: flex;
}

/* 地図外枠 */
.map_content {
    border: 3px solid #000;
    margin: 0 auto;
}

/* 地図画像 */
.map_content img {
    width: 300px;
    height: 350px;
    object-fit: cover;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    .menu_wrap {
        margin: 0 auto;
        max-width: 80%;
    }

    .menu_title {

        width: 100%;
        text-align: center;
    }

    /* 地図外枠 */
    .map_content {
        width: 60%;
    }

    /* 地図画像 */
    .map_content img {
        height: 100%;
        width: 100%;
    }
}

/* ------------------------------------------------------------------------
サイドバー
------------------------------------------------------------------------ */

/* 上部サイドバー非表示 */
.aside_top {
    display: none;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* 下部サイドバー非表示 */
    .aside_bottom {
        display: none;
    }

    /* 上部サイドバー表示 */
    .aside_top {
        display: block;
    }
}

/* セクション幅 */
section {
    padding: 10px;
}

/* 記事幅 */
.archive_col {
    padding: 50px;
}

/* 記事タイトル */
.archive_col>h3 {
    padding: 20px 20px 10px;
    margin-bottom: 50px;
}

/* 3カラム */
.card_3col {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

/* カード設計 */
.card1_wrap {
    width: 500px;
    height: 600px;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
}

/* カード内幅揃え */
.card_wrap2 {
    padding: 30px;
}

/* サムネイル画像真ん中並び */
.thumbnail_img {
    text-align: center;
}

/* サムネイル画像設定 */
.card1_img img {
    margin-top: 30px;
    border: 1px solid #000;
    width: 350px;
    height: 250px;
    object-fit: cover;
}

/* 小見出し幅 */
.card1_content>h4 {
    padding: 20px 20px;
}

/* カード説明幅 */
.card1_text {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

/* アイコン欄 */
.card_icon {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #000;
}

/* アイコンサイズ */
.card_icon img {
    width: 40px;
}

/* moreボタン幅 */
.more_btn {
    margin: 50px auto;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* 記事タイトル */
    .archive_col>h3 {
        margin: 0 50px 50px;
        padding: 40px 40px 10px;
    }
}

/* GoogleMap-中身 */
.map {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

/* iframe */
.map iframe {
    border: 1px solid red;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

/* ------------------------------------------------------------------------
Q&A アコーディオンメニュー
------------------------------------------------------------------------ */




.accordion {
    margin: 3em auto;
    max-width: 70vw;
}

.toggle {
    display: none;
}

.option {
    position: relative;
    margin-bottom: 1em;
}

.title,
.content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
}

.title {
    padding: 1em;
    display: block;
    color: #333;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #FFF6E2;
    display: flex;
    align-items: center;
}


.q_aimg {
    width: 50px;
    height: auto;
    margin: 0px 20px 0px 20px;
    object-fit: cover;
}

.answer_wrap img {
    width: 55px;
    height: 60px;
    margin-left: 37px;
}


.title::after,
.title::before {
    content: "";
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    width: 2px;
    height: 0.75em;
    background-color: #999;
    transition: all 0.3s;
}

.title::after {
    transform: rotate(90deg);
}

.answer_wrap {
    width: auto;
    border: 6px solid #ccc;
    display: flex;
    align-items: center;
}


.content {
    max-height: 0;
    overflow: hidden;
}

.question_span {
    margin-right: 30px;
}

.content p {
    margin: 0;
    padding: 0.5em 1em 1em;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 30px 60px 30px 0;
}

.toggle:checked+.title+.content {
    max-height: 500px;
    transition: all 1s;
}

.toggle:checked+.title::before {
    transform: rotate(90deg) !important;
}
