@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #A4E862;
    color: #BDD500;
}

/* ------------------------------------------------------------------------
Q&A アコーディオンメニュー
------------------------------------------------------------------------ */
.accordion {
    margin: 3em auto;
    max-width: 70vw;
}

.toggle {
    display: none;
}

.option {
    position: relative;
    margin-bottom: 1em;
}

.title,
.content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
}

.title {
    padding: 1em;
    display: block;
    color: #333;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #FFF6E2;
    display: flex;
    align-items: center;
}


.q_aimg {
    width: 50px;
    height: auto;
    margin: 0px 20px 0px 20px;
    object-fit: cover;
}

.answer_wrap img {
    width: 55px;
    height: 60px;
    margin-left: 37px;
}


.title::after,
.title::before {
    content: "";
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    width: 2px;
    height: 0.75em;
    background-color: #999;
    transition: all 0.3s;
}

.title::after {
    transform: rotate(90deg);
}

.answer_wrap {
    width: auto;
    border: 6px solid #ccc;
    display: flex;
    align-items: center;
}


.content {
    max-height: 0;
    overflow: hidden;
}

.question_span {
    margin-right: 30px;
}

.content p {
    margin: 0;
    padding: 0.5em 1em 1em;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 30px 60px 30px 0;
}

.toggle:checked+.title+.content {
    max-height: 500px;
    transition: all 1s;
}

.toggle:checked+.title::before {
    transform: rotate(90deg) !important;
}
