@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #9ac4f7;
    color: #5e83ea;
}

/* セクション幅 */
section {
    padding: 10px;
}


/* ------------------------------------------------------------------------
cardテンプレート
------------------------------------------------------------------------  */
/* ▼card2カラムカード▼ */

.card2_wrap {
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
    margin: 0 auto;
    margin-bottom: 25px;
}

.card2_content {
    padding: 30px;
}

.card2_img {
    text-align: center;
}

.card2_img img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin: 5% 0;
}

/* 見出し中央配置 */
.center_title {
    text-align: center;
}

/* 中見出し幅 */
.middle_title {
    display: flex;
    justify-content: center;
    text-decoration: underline wavy;
}

h3.middle_title::after {
    background-image: none;
}

h4 {
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
    color: #555;
    background: transparent;
    border-left: solid 5px #555;
}

/* 記事本文 */
.card2_text {
    padding: 10px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card2 {
        width: 100%;
    }

    .aside_wrap {
        margin: 0 auto;
    }
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media (min-width:1024px) {

    /* メニュー横並び */
    .archive_col {
        display: flex;
        justify-content: space-between;
        gap: 5%;
    }

    .card2 {
        max-width: 66.6%;
    }

    .card2_content h3 {
        padding: 20px 0;
    }

}

/* ▲card2カラムカード▲ */

/* ------------------------------------------------------------------------
ページ送り※装飾だけなので消す
------------------------------------------------------------------------  */
.pageturn {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.pageturn img {
    width: 65px;
}

.p_before, .p_next {
    display: flex;
    flex-direction: column;
}

.n_arrow_wrapper {
    display: flex;
    justify-content: flex-end;
}

.p_arrow_wrapper {
    display: flex;
    justify-content: flex-start;
}
