@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #ddc69f;
    color: #a95b40;
}

/* セクション幅 */
section {
    padding: 10px;
}

.archive_col:not(:first-child) h3 {
    margin-top: 70px;
}

h4 {
    padding: 20px 0;
    border-left: none;
}

/* ------------------------------------------------------------------------
3カラム
------------------------------------------------------------------------ */
/* 3カラム列 */
.card_3col {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

/* カード設計 */
.card_wrap1 {
    width: 280px;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
}

/* カード内幅揃え */
.card_wrap2 {
    padding: 30px 30px 10px;
}

/* サムネイル画像真ん中並び */
.thumbnail_img {
    text-align: center;
}

/* サムネイル画像設定 */
.thumbnail_img img {
    border: 1px solid #000;
    width: 280px;
    height: 184px;
    object-fit: cover;
}

/* カード説明幅 */
.card_text {
    border: 1px solid #000;
    padding: 10px;
}

/* アイコン欄 */
.card_icon {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    line-height: 45px;
}

/* アイコンサイズ */
.card_icon img {
    width: 35px;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* カード設計 */
    .card_wrap1 {
        width: 350px;
    }

    /* カード内幅揃え */
    .card_wrap2 {
        padding: 30px;
    }

    /* サムネイル画像設定 */
    .thumbnail_img img {
        width: 240px;
    }
}
