@charset "utf-8";

/* ------------------------------------------------------------------------
    all
------------------------------------------------------------------------  */

/* トップエリア */
#toparea {
    background-color: #fff6e2;
    color: #fff6e2;
}

h4 {
    border-left: none;
}

/* 区切り線 */
hr {
    width: 80%;
    margin: 2rem auto;
    border: 2px solid #000;
}

/* 施設について */

.section_facility {
    padding-bottom: 34px;
}

.facility_wrap1 {
    width: 100%;
}

.facility_wrap2 {
    width: 100%;
}

.facility_img1_box {
    border: 3px solid #000;
}

.facility_img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.facility_img_list {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    gap: 15px;
}

.facility_img_list li {
    border: 3px solid #000;
}

.facility_img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.facility_img2:hover {
    transition: .3s;
    opacity: 0.6;
}

.facility_txt_box {
    padding: 15px;
    margin-bottom: 25px;
    margin: 0 auto;
    border: 3px solid #000;
}

/* すぐ上のtag */
.facility_tag {
    display: flex;
    flex-wrap: wrap;
    margin: 25px auto;
}

/* 外側・中央揃え・整形 */
.facility_tag_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11px;
    padding: 0 5px;
    background-color: #fffCAA;
    color: #333;
    border: 3px solid #000;
    min-width: 100px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #000;
}

.facility_tag_btn:hover {
    box-shadow: 0 0 0 #fff;
    background-color: #333;
    color: #fff;
    transition: .3s;
    transform: translate(5px, 5px);
}

@media only screen and (min-width:768px) {
    .facility_wrap {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0 auto;
    }

    .facility_tag_btn {
        min-width: 150px;
        height: 50px;
    }
}

@media only screen and (min-width:1200px) {
    .facility_wrap1 {
        width: 50%;
    }

    .facility_wrap2 {
        width: 50%;
    }
}

@media only screen and (max-width:1200px) {
    .facility_wrap {
        display: initial;
    }
}

/* 施設の詳細情報 */

.info_wrap {
    margin: 0 auto 50px;
}

.section_info {
    padding-top: 34px;
    padding-bottom: 34px;
}

table {
    width: 100%;
}

th {
    width: 20%;
}

td {
    width: 80%;
}

th, td {
    height: 100px;
    vertical-align: middle;
    text-align: center;
    border: 3px solid #000;
    padding: 10px;
}

/* 営業時間と電話番号の指定
tr:nth-child(2) th:nth-child(1) {
    padding: 15px;
}

tr:nth-child(4) th:nth-child(1) {
    padding: 15px;
} */

/* マップ */
.info_map {
    height: 350px;
    margin: 0 auto;
}

.info_map_img {
    width: 100%;
    height: 100%;
    border: 3px solid #000;
    object-fit: cover;
}

@media only screen and (min-width:768px) {
    .info_map {
        height: 500px;
        text-align: center;
    }
}

/* その他おすすめ */

.section_recommend {
    padding-top: 34px;
}

/* 3カラム */
.card_3col {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

/* ▼1カラムカード▼ */
a.card1 {
    flex-basis: auto;
}

.card1_wrap {
    height: 450px;
    margin: 0 auto;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
}

.card1:hover {
    transform: translate(3px, 3px);
}

.card1_content {
    padding: 25px;
}

.card1_img {
    text-align: center;
}

.card1_img img {
    border: 3px solid #000;
    width: 240px;
    height: 184px;
    object-fit: cover;
}

.card1_content>h4 {
    margin: 20px auto;
    padding: 0;
}

.card1_text {
    display: flex;
    align-items: center;
    height: 80px;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 20px;
}

.card1_tag {
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px solid #000;
    padding: 10px;
}

.card1_tag img {
    width: 30px;
    height: 30px;
}

@media only screen and (min-width:520px) {
    .card1_wrap {
        width: 350px;
        height: 500px;
    }

    .card1_img img {
        width: 300px;
    }

    .card1_text {
        height: 100px;
    }

    .card1_tag {
        height: 60px;
    }

    .card1_tag img {
        width: 35px;
        height: 35px;
    }

}

/* お気に入りボタン */

.title_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.favorite_wrapper {
    height: 50px;
    width: 50px;
    position: relative;
    margin-bottom: 4rem;
}

.favorite_btns {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.favorite_icon {
    display: none;
}

.favorited_icon {
    display: none;
}

.simplefavorite-button {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}
