@charset "utf-8";

/* ------------------------------------------------------------------------
    all
------------------------------------------------------------------------  */
main {
    background-color: #FFF6E2;
}

/* トップエリア */
/* height見直し */

#toparea {
    height: 200px;
    background-color: #d13a2b;
    text-align: center;
    color: #F8A59B;
    line-height: 200px;
}

/* 記事背景 */
.main_wrap {
    background-color: #fff;
    max-width: 90%;
    margin: 5% auto 15%;
}

.breadcrumb {
        padding: 20px 16px;
    }

.toparea_title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}

h3 {
    text-align: center;
}

@media only screen and (min-width:768px) {
    .breadcrumb {
        padding: 40px 32px;
    }
}

/* 区切り線 */
hr {
    width: 80%;
    margin: 2rem auto;
    border: 2px solid #000;
}

/* 施設について */

.section_facility {
    padding-bottom: 34px;
}

.facility_wrap {
    width: 80%;
    margin: 0 auto;
}

.facility_wrap1 {
    text-align: center;
}

.facility_img1_box {
    margin: 0 auto;
    max-width: 240px;
    height: 184px;
    border: 3px solid #000;
}

.facility_img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.facility_img_list {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    gap: 15px;
}

.facility_img_list li {
    max-width: 80px;
    height: 75px;
    border: 3px solid #000;;
}

.facility_img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.facility_img2:hover {
    opacity: 0.7;
}

.facility_txt_box {
    padding: 15px;
    max-width: 300px;
    margin-bottom: 25px;
    margin: 0 auto;
    border: 3px solid #000;
}

.facility_tag {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px auto;
    max-width: 250px;
}

/* すぐ上のtagです！ */
/* moreボタンCSS */
/* 外側・中央揃え・整形 */
.facility_tag_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11px;
    padding: 0 5px;
    background-color: #fffCAA;
    border: 3px solid #000;
    min-width: 100px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #000;
}

    .facility_tag_btn:hover {
    transform: translate(3px, 3px);
}

@media only screen and (min-width:768px) {
    .facility_wrap {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0 auto;
    }

    .facility_img1_box {
        text-align: center;
        width: 500px;
        max-width: 100%;
        height: 300px;
    }

    .facility_img_list li {
        width: 160px;
        max-width: 100%;
        height: 110px;
    }

    .facility_txt_box {
        width: 500px;
        max-width: 100%;
        height: 300px;
    }

    .facility_tag {
        justify-content: flex-start;
        max-width: 500px;
    }

    .facility_tag_btn {
        min-width: 140px;
        height: 40px;
    }
}

@media only screen and (max-width:1200px) {
    .facility_wrap {
        display: initial;
    }
}

@media only screen and (min-width:1440px) {
    .facility_img1_box {
        text-align: center;
        width: 600px;
        height: 400px;
    }

    .facility_img_list li {
        width: 200px;
        height: 150px;
    }

        .facility_txt_box {
        width: 600px;
        height: 400px;
    }

        .facility_tag {
        max-width: 600px;
    }

        .facility_tag_btn {
        min-width: 150px;
        height: 50px;
    }
}

/* 施設の詳細情報 */

.info_wrap {
    margin: 0 auto 50px auto;
}

.section_info {
    padding-top: 34px;
    padding-bottom: 34px;
}

table {
    max-width: 280px;
    margin: 0 auto;
}

th, td {
    vertical-align: middle;
    text-align: center;
    border: 3px solid #000;
    padding: 10px;
}

@media only screen and (min-width:768px) {
.info_wrap {
    max-width: 1500px;
    }

    table {
        width: 80%;
        max-width: 100%;
        height: 600px;
    }
}

/* 営業時間と電話番号の指定 */
tr:nth-child(2) th:nth-child(1){
    padding: 15px;
}

tr:nth-child(4) th:nth-child(1){
    padding: 15px;
}

/* マップ */
.info_map {
    max-width: 280px;
    height: 350px;
    margin: 0 auto;
}

.info_map_img {
    width: 100%;
    height: 100%;
    border: 3px solid #000;
    object-fit: cover;
}

@media only screen and (min-width:768px) {
.info_map {
    max-width: 1500px;
    height: 500px;
    text-align: center;
}

.info_map_img {
    width: 80%;
}
}

/* その他おすすめ */

.section_recommend {
    padding-top: 34px;
    padding-bottom: 100px;
}

/* 3カラム */
.card_3col {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

/* ▼1カラムカード▼ */
.card1_wrap {
    height: 450px;
    margin: 0 auto;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
}

.card1:hover {
    transform: translate(3px, 3px);
}

.card1_content {
    padding: 25px;
}

.card1_img {
    text-align: center;
}

.card1_img img {
    border: 3px solid #000;
    width: 240px;
    height: 184px;
    object-fit: cover;
}

.card1_content>h4 {
    margin: 20px auto;
    padding: 0;
}

.card1_text {
    height: initial;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 20px;
}

.card1_tag {
    border: 1px solid #000;
    padding: 10px;
}

.card1_tag img {
    width: 35px;
    height: 35px;
}

@media only screen and (min-width:520px) {
    .card1_wrap {
        width: 350px;
        height: 500px;
}
}

/* お気に入りボタン */

.title_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.facility_name{

}

.favorite_wrapper{
    height: 50px;
    width: 50px;
    position: relative;
}

.favorite_btns{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.favorite_icon{
    display: none;
}

.favorited_icon{
    display: none;
}

.simplefavorite-button{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}
