@charset "UTF-8";

/* ------------------------------------------------------------------------
トップエリア
------------------------------------------------------------------------  */

/* 帯色 */
#toparea {
    background-color: #9996ca;
    color: #812c89;
}

/* セクション幅 */
section {
    padding: 10px;
}

/* トップメニュー横並び */
.menu_wrap {
    margin: 0 18.75px 60px 18.75px
}


/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    .menu_wrap {
        margin: 0 96px;
    }
}

/* ------------------------------------------------------------------------
ボタン設定
------------------------------------------------------------------------  */

/* 項目ボタン外側 */
h3 {
    width: 280px;
    height: 80px;
    background-color: #FFFCAA;
    border: 3px solid #000;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #000;
    text-decoration: none;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* リンクを親要素いっぱいに広げる */
h3>a {
    display: block;
    padding: 25px;
    border-radius: 20px;
}

h3:not(:first-of-type) {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

/* 一覧タイトル（非リンク） */
h4 {
    border-left: 10px solid #9996ca;
    margin-left: 1rem;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* 一覧タイトル（非リンク） */
    h4 {
        margin: 50px 0 20px 1rem;
    }
}


/* ------------------------------------------------------------------------
リスト
------------------------------------------------------------------------  */

.sitemap_list {
    margin: 21px 0 35px 2rem;
}

.sitemap_list li {
    font-weight: bold;
    margin: 15px 0 15px 3rem;
}

.sitemap_list a {
    border-bottom: 1px solid #000;
}


/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {

    /* 小リスト横並び */
    .sitemap_list {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 10%;
        gap: 20px;
        width: 100%;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .sitemap_list li {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1px;
        padding-left: 20px;
        border-left: 1px solid #000;
        zoom: 1;
    }
}

/* ------------------------------------------------------------------------
小見出し
------------------------------------------------------------------------  */

/* 小見出しフォント */
h5 {
    margin: 1rem 0 28px 3rem;
}

/* 下部コンテンツ */
.u_content li {
    font-size: 1.8rem;
}

/* ~~~~~~~~~~~~pc表示~~~~~~~~~~~~ */
@media only screen and (min-width:768px) {
    .u_content {
        margin: 20px 0 0 10%;
    }
}
